.wide_content {
	&.header {
		position: absolute;
	    top: -35px;
	    left: 0;
	    display: block;
        transition: 0.1s;
	    &:hover {
	    	top: 0;
	    }
	    &:before {
	    	position: absolute;
	    	bottom: -10px;
	    	left: 0;
	    	width: 100%;
	    	height: 10px;
	    }
	}
	.sidebar {
		display: none;
		height: auto;
		left: 74px;
	    top: -10px;
		position: absolute;
	    width: 355px;
	    height: auto !important;
		z-index: 9;
		border-radius: 0 0 5px 5px;
		.footer {
			display: none;
		}
		&_wrap {
			overflow-y: auto;
			max-height: 400px;
		}
		&.active {
			display: block;
		}
		.buttons {
			display: block;
			a {
				position: relative;
			}
		}
		.selection .row {
			margin-top: 10px;
			.button {
				width: 100%;
			}
		}
	}
	.container {
		padding-left: 0;
	    transition: 0.3s;
	}
}

/*** Sidebar ***/

.sidebar {
    position: relative;
    width: 300px;
    height: 100%;
    background: #324e69;
    margin-right: -300px;
    float: left;
    padding: 10px 0 0;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Arial', sans-serif;
    &_wrap {
		box-sizing: border-box;
		width: 100%;
   		height: 100%;
   		position: relative;
   		overflow-y: auto;
   		outline: none;
   		.mCSB_container {
   			padding: 0 10px;
   		}
    }
    .selection {
    	min-height: 200px;
    	.row {
			margin-top: 20px;
		}
		span {
	        margin: 0 0 10px;
	        display: block;
	    }
	    .select span,
	    .drop_select span {
            margin: 0;
	    }
	}
	.checkboxes_select {
		.checkboxes {
			position: relative;
		    top: 0;
		    .mCustomScrollBox {
		    	height: auto;
		    }
		}
	}
	.drop_select {
		width: 100%;
		position: relative;
	    top: 0;
	    .mCustomScrollBox {
	    	height: auto;
	    }
	}
    .button {
	    border-radius: 5px;
	    border: 1px solid #588aba;
	    color: #588aba;
	    padding: 10px 22px;
	    margin-bottom: 10px;
	    text-align: center;
        display: inline-block;
    	box-sizing: border-box;
	    &.active,
	    &:hover {
	        color: #fff;
	        background: #588aba;
	        border-color: #588aba;
	    }
	    span {
	    	margin: 0;
	    	display: inline-block;
	    	vertical-align: middle;
	    }
	    .icon {
	        margin-right: 5px;
	    }
	    &.wide {
	    	width: 100%;
	    	padding: 10px 0;
	    }
     	&.success {
	        background: #1abc9c;
	        color: #fff;
	        border: none;
            font-size: 18px;
	        &:hover {
	            background: #1abc9c;
	        }
	    }
	}
	.buttons {
	    margin: 20px 0 0;
	    border-radius: 5px;
	    overflow: hidden;
	    position: relative;
	    color: #fff;
	    display: none;
		.button {
			border: 0;
		    padding: 0;
		    margin: 0;
		    line-height: 46px;
		    height: 46px;
			&:before {
				display: none;
			}
		}
		.close {
			background: #243a51;
			width: 100%;
			left: 0;
			top: 0;
			z-index: 4;
			display: flex;
		    justify-content: space-around;
    		align-items: center;
		}
		.apply {
			background: #1abc9c;
		    color: #fff;
			padding-left: 85px;
		    text-align: center;
			width: 100%;
			z-index: 2;
		}
	}
	.list_commission {
		span {
			display: inline-block;
			margin: 0;
		}
	}
	.checkboxes {
		span {
			margin: 0;
		}
	}
}
.list_commission {
	line-height: 30px;
	font-size: 12px;
	h3 {
		line-height: 20px;
	}
}

.level {
	margin: 20px 0 0 20px;
}


/*** Container ***/

.overflow {
	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: 0.5;
		z-index: 2;
	}
}
.overflow_slider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	opacity: 0.5;
	z-index: 2;
	cursor: pointer;
}

.container {
	width: 100%;
	height: 100%;
    padding-left: 310px;
    margin-top: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    .mCSB_container {
    	overflow: hidden;
    }
    .mCSB_scrollTools {
	    right: 0;
    	.mCSB_draggerRail {
	    	background: #324e69;
	    }
    }
}

.breadcrumbs {
	height: 50px;
	font-size: 0;
	.link {
		display: inline-block;
		vertical-align: middle;
	    padding: 10px 0;
	}
	a {
		color: #dbe3e5;
		font-weight: bold;
		font-size: 16px;
		border-bottom: 1px solid #657280;
		&:hover {
			border-color: transparent;
		}
	}
	span {
		color: #4a7197;
		font-weight: bold;
		font-size: 16px;
		display: inline-block;
		vertical-align: middle;
	}
	i {
		margin: 0 15px;
		display: inline-block;
		vertical-align: middle;
	}
}

.card_selection {
    background: #fff;
    border-radius: 5px;
    margin: 0 0 10px 0;
    float: left;
    width: 100%;
    position: relative;
	&__head {
		background: #f2f2f2;
		padding: 15px;
		position: relative;
	    border-radius: 5px;
	    &.open {
	    	border-radius: 5px 5px 0 0;
	    }
		.number {
		    font-size: 20px;
		    max-width: 80px;
		    position: absolute;
		    left: 15px;
	        top: 50%;
		    margin-top: -12px;
		    font-weight: bold;
    		span {
    			font-size: 14px;
    		}
    	}
    	.title {
		    position: relative;
		    font-weight: bold;
		    font-size: 16px;
		    margin-left: 95px;
		    padding: 10px 60px 10px 15px;
		    &.coordstatus {
			    cursor: pointer;
			}
    		&:before {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				width: 2px;
				height: 100%;
				background: url(../images/border-left-white.png) repeat-y;
			}
    	}
    	.enshrined_button {
    		position: absolute;
    		right: 15px;
    		top: 15px;
    	    box-sizing: border-box;
    	    .icon-pencil {
	    	    vertical-align: middle;
    			display: inline-block;
    	    }
    	    .icon-fixed {
			    width: 60px;
    			height: 29px;
		        fill: none;
				stroke: #4a7197;
			}
    		&.active {
    			.icon-fixed {
			        stroke: #fff;
    				fill: #4a7197;
    			}
    		}
    		.success {
			    background: #1abc9c;
			    padding: 10px;
			    vertical-align: middle;
    			display: inline-block;
			    margin: 0 0 0 10px;
			    border-radius: 5px
    		}
    	}
	}
	&__content {
		padding: 10px;
		float: left;
		box-sizing: border-box;
		width: 100%;
	}
	.select_wrap {
		margin: 0;
		.drop_select {
		    width: 100%;
	        max-height: 220px;
		}
	}
	&.files {
		input {
			width: auto;
		}
	}
}

.no_data {
    text-align: center;
    font-size: 20px;
}
.one_card {
	.card_selection {
		&__content {
			padding: 10px 0;
		}
	}
	.tabs {
		padding: 0 10px;
	}
	.title_graph {
		background: #f2f2f2;
		padding: 10px 20px 20px;
	    margin: 0;
	    overflow: hidden;
	    span {
	    	margin-left: 10%;
	    	font-size: 16px;
	    	font-weight: bold;
	    	display: inline-block;
	    	vertical-align: top;
	    }
	    .name {
    	    max-width: 330px;
		    white-space: nowrap;
		    text-overflow: ellipsis;
		    overflow: hidden;
	    }
	    .title_link {
	    	margin-left: 10%;
	    	display: inline-block;
	    	vertical-align: top;
		    a {
		    	display: inline-block;
		    	vertical-align: top;
		    	margin-left: 20px;
		    	&:first-child {
		    		margin: 0;
		    	}
		    }
		    .icon {
		    	fill: #405e7c;
		    }
	    }
	    .show_percent {
	    	display: inline-block;
	    	vertical-align: top;
	    	float: right;
	    	margin-right: 40px;
	    	input[type="text"] {
    		    border: 1px solid #4a7197;
			    border-radius: 2px;
			    max-width: 70px;
			    margin: 0 10px;
			    padding: 2px;
			    font-size: 12px;
			    display: inline-block;
	    		vertical-align: middle;
	    	}
	    	span {
	    		font-weight: normal;
	    		font-size: 14px;
	    		margin: 0;
	    		display: inline-block;
	    		vertical-align: middle;
	    		color: #243a51;
	    	}
	    }
	}
	.graphs {
		.graph {
			border: none;
		    width: 100%;
		    height: 530px;
		    padding: 0 25px;
		    box-sizing: border-box;
		}
		.row {
			margin: 0;
		}
	}

	.slider {
		min-height: 400px;
	}
}

.button_bottom {
	display: none;
	position: absolute;
	bottom: 0;
    right: 0;
	width: 100%;
	background: #243a51;
    z-index: 9;
    font-size: 0;
    font-family: 'Arial', sans-serif;
    padding-bottom: 10px;
    border-radius: 5px 5px 0 0;
    &__wrap {
    	border-radius: 5px;
    	background: #ebebeb;
    }
    .button {
        line-height: 46px;
        height: 50px;
	    padding: 0 30px;
	    display: inline-block;
	    position: relative;
	    font-size: 14px;
	    border-bottom: 2px solid transparent;
	    border-top: 2px solid transparent;
	    box-sizing: border-box;
	    &:before {
		    content: '';
		    position: absolute;
		    left: -1px;
		    top: 0;
		    width: 2px;
		    height: 100%;
		    background: url(../images/border-left-white.png) repeat-y;
		}
		&:first-child {
			border-radius: 0 0 0 5px;
			&:before {
				display: none;
			}
		}
	    span {
	        display: inline-block;
				vertical-align: middle;
	    }
	    .icon {
	    	margin-right: 10px;
	    }
	    &.active,
	    &:hover {
    	    background: #4a7197;
		    border-color: #3b5c7b;
		    border-top-color: #4a7197;
		    color: #fff;
	    }
    }
    .right {
    	border-radius: 0 0 5px;
    }
	.button_list_wrap {
		margin: 0;
		 &:before {
		    content: '';
		    position: absolute;
		    left: -1px;
		    top: 0;
		    width: 2px;
		    height: 100%;
		    background: url(../images/border-left-white.png) repeat-y;
		}
		.button_list {
			border-radius: 0 0 5px;
		}
	}
}

.button_list_wrap {
	position: relative;
	margin: 20px 20px 0 0;
    z-index: 9;
	.button_list {
		line-height: 46px;
		padding: 0 50px;
	    height: 50px;
	    display: inline-block;
	    position: relative;
	    font-size: 14px;
	    border-bottom: 2px solid transparent;
	    border-top: 2px solid transparent;
	    box-sizing: border-box;
	    &.active,
		&:hover {
		    background: #4a7197;
		    border-color: #3b5c7b;
		    border-top-color: #4a7197;
		    .icon_list {
		        background-position: -30px -402px;
		    }
	    }
	}
}

.list_wrap {
	display: none;
    position: absolute;
    bottom: 50px;
    right: 0;
    height: 300px;
    width: 780px;
    padding: 15px 10px;
    background: #324e69;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
    cursor: default;
    color: #fff;
    font-family: 'Arial', sans-serif;
    &.active {
    	display: block;
    }
    .column {
    	width: 48%;
    	padding: 0;
    	margin: 0;
    	display: inline-block;
	    font-size: 12px;
		line-height: 18px;
    	&:first-child {
    		padding: 0;
    		margin: 0;
    	}
    	h3 {
    		margin: 0;
		    padding-right: 20px;
    	}
    	&_wrap {
    		position: relative;
    		&:before,
    		&:after {
    			content: '';
    	    	display: block;
    	    	width: 100%;
    	    	height: 30px;
    	    	position: absolute;
    	    	left: 0;
    		}
    		&:before {
    	    	top: 0;
    	   		background: -moz-linear-gradient(top,  rgba(50,78,105,1) 39%, rgba(50,78,105,0.41) 75%, rgba(255,255,255,0) 100%);
				background: -webkit-linear-gradient(top,  rgba(50,78,105,1) 39%,rgba(50,78,105,0.41) 75%,rgba(255,255,255,0) 100%);
				background: linear-gradient(to bottom,  rgba(50,78,105,1) 39%,rgba(50,78,105,0.41) 75%,rgba(255,255,255,0) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324e69', endColorstr='#00ffffff',GradientType=0 );
    	    }
    	    &:after {
    	    	bottom: 0;
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.01) 1%, rgba(50,78,105,0.09) 6%, rgba(50,78,105,1) 67%, rgba(50,78,105,1) 100%);
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(50,78,105,0.09) 6%,rgba(50,78,105,1) 67%,rgba(50,78,105,1) 100%);
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.01) 1%,rgba(50,78,105,0.09) 6%,rgba(50,78,105,1) 67%,rgba(50,78,105,1) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#324e69',GradientType=0 );
    	    }
    	}
    	ul {
    	    padding: 20px 0;
		    height: 240px;
		    box-sizing: border-box;
		    overflow-y: auto;
    		li {
    			margin: 0 0 10px;
    		    padding-right: 20px;
    		}
    	}
    }
}

.graphs {
	width: 100%;
	float: left;
	.row {
		float: left;
		box-sizing: border-box;
		width: 100%;
		margin-bottom: 20px;
	}
	.cell_x_50 {
		width: 49%;
	}
	.cell_x_100 {
		width: 100%;
	}
	.cell {
		float: left;
		&.right {
			float: right;
			margin-left: 10px;
		}
		.title {
			display: block;
			text-align: center;
			margin-bottom: 20px;
		}
	}
	.graph {
		max-width: 100%;
		padding: 10px;
		border: 1px solid #f2f2f2;
		height: 250px;
	}
	.cell_x_100 {
		.highcharts-data-labels g {
	    opacity: 1;
    	visibility: visible;
		}
	}
	.highcharts-button {
		display: none;
	}
}

/*** Tabs ***/

.tabs_content {
	&__item {
		display: none;
		&.active {
			display: block;
		}
	}
}

.tabs {
	.tabs_head {
		text-align: right;
		font-size: 0;
		padding: 0 20px;
		margin-bottom: 20px;
		.icon {
			background: none;
			svg {
				fill: #4a7197;
			}
		}
	}
	.tab_link {
		display: inline-block;
		padding: 12px 16px;
		cursor: pointer;
		position: relative;
		&:hover,
		&.active {
			background: #4a7197;
			.icon {
				svg {
					fill: #fff;
				}
			}
		}
	}
	.tab_content {
		position: absolute;
	    opacity: 0;
		padding: 0;
		top: 0;
		left: 0;
		list-style: none;
		width: 100%;
	    z-index: -1;
	}
	.tab_content.active {
		position: relative;
		opacity: 1;
		z-index: 1;
	}
	.graph {
	    width: 700px;
        margin: 0 auto;
	}
}

.tab_content_section {
	position: absolute;
    opacity: 0;
	padding: 0;
	top: 0;
	left: 0;
	list-style: none;
	width: 100%;
    z-index: -1;
	&.active {
		position: relative;
		opacity: 1;
		z-index: 1;
	}
}

.search_links {
    position: relative;
    .title {
    	display: block;
    	padding: 10px 80px 10px 20px;
    	font-size: 16px;
    	font-weight: bold;
    	background: #fff;
		margin: 0 0 5px 0;
	    position: relative;
		&:after {
			content: '';
			position: absolute;
			right: 20px;
			top: 50%;
			margin-top: -7px;
		    width: 9px;
    		height: 14px;
		    background: url(../images/sprite.png) 0 -354px;
		}
		b {
		    font-weight: bold;
    		background: #d0e7ff;
		}
    }
    .search_preview {
	    margin: 5px 0 0 0;
	    font-size: 14px;
        display: block;
    }
}

table {
	width: 100%;
	text-align: center;
	font-size: 14px;
    font-family: 'Arial', sans-serif;
    background: #fff;
    tbody {
	    tr:nth-child(even) {
			background: #faf7f7;
		}
		th, td {
			padding: 0;
			span {
		    	padding: 15px 5px;
		    	display: block;
		    }
		}
	}
	tr:first-child td {
		border: none;
	}
	th {
		border: 1px solid #f2f2f2;
		color: #4a7197;
	    padding: 5px 20px;
		vertical-align: middle;
		width: 110px;
	}
	td {
		color: #243a51;
		padding: 15px 10px;
		vertical-align: middle;
		border-bottom: 1px solid #e5edf5;
	}
}

.table_wrap {
	th, td {
	    padding: 0;
	    span {
	    	padding: 15px 5px;
	    	display: block;
	    }
	}
	.table_head {
	    width: 300px;
	    float: left;
        position: absolute;
        border-right: 1px solid #4a7197;

	}
	.table_body {
	    margin-left: 300px;
	    .table {
	    	overflow-x: auto;
	    }
	    span {
	    	width: 90px;
	    	display: block;
	    }
	}
}

.batch {
	border-radius: 5px;
	background: #fff;
    overflow: hidden;
	&_head {
		background: #f2f2f2;
		padding: 15px;
		h2 {
			text-transform: uppercase;
			font-size: 16px;
			margin: 0;
		}
	}
	&_content {
		padding: 15px;
	}
	table {
		tr {
			th, td {
				padding: 0;
				span {
			    	padding: 10px 5px;
			    	display: block;
			    }
			    &:nth-child(1) {
			    	width: 50%;
			    	text-align: left;
			    	padding: 0 20px;
			    }
			}
			td {
				span {
					// padding: 0 5px;
				}
			}
		}
	}
	.logo,
	.color {
		img {
			max-width: 100%;
		}
	}
	.color {
		width: 70px;
		height: 30px;
	    margin: 10px auto;
	    padding: 0;
	    span {
	    	padding: 0;
	    }
	}
}


.owl-prev,
.owl-next {
	position: absolute;
	top: 0;
    overflow: hidden;
    &:before {
    	font-family: 'FontAwesome';
        content: "\f105";
        font-weight: bold;
        font-size: 20px;
    	display: block;
    }
}
.owl-next {
	right: 10px;
	&:before {
        content: "\f105";
    }
}
.owl-prev {
	left: 10px;
    &:before {
    	content: "\f104";
    }
}

.one_card {
	.owl-prev,
	.owl-next {
		top: 8px;
	}
}

.autorization {
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    margin: 10px 0 0 0;
    padding: 50px 10px;
    position: relative;
    text-align: center;
    &__wrap {
		max-width: 390px;
		margin: 0 auto;
    }
    &_logo {
    	margin:0 auto 20px;
    	width: 150px;
    	height: 148px;
    	background: url('../images/big_logo.png');
    }
    &_title {
		margin: 0 0 20px;
		font-size: 16px;
		font-weight: bold;
		font-family: $proxima_regular, sans-serif;
    }
    &_form {
		margin: 50px auto 0;
		.row {
			margin: 10px 0 0;
			&:first-child {
				margin: 0;
			}
			&.captcha {
				input[type="text"] {
					margin: 10px 0 0;
				}
			    font-size: 16px;
				img {
				    display: inline-block;
    				vertical-align: middle;
    			    margin: 0 10px 0 0;
				}
			}
		}
		.errortext {
			margin: 10px 0 0;
		    display: block;
		    font-size: 16px;
		}
		input {
			background: #f2f2f2;
			border-radius: 5px;
			padding: 15px 20px;
			text-align: center;
			font-size: 14px;
			border: 0;
			color: #282828;
			width: 100%;
		    box-sizing: border-box;
			@include placeholder {
			    @include placeholder-style-black;
			  }
		}
		.button {
			width: 100%;
			background: #34495e;
			border-radius: 5px;
			padding: 15px 20px;
			color: #fff;
			font-size: 14px;
			border: 0;
			margin-top: 10px;
			.icon {
				margin-right: 10px;
			}
		}
    }
}

.form {
	padding: 10px;
	width: 100%;
    box-sizing: border-box;
	.row {
		margin: 0 0 20px;
		display: flex;
	    align-items: center;
	    &.buttons {
	    	margin-top: 40px;
	    }
	}
	.mistake {
	    color: red;
	    display: inline;
	    position: absolute;
        right: -90px;
	    margin: -8px 0 0 0;
	    top: 50%;
	    display: none;
	}
	input, textarea {
		background: #f2f2f2;
		border-radius: 5px;
		padding: 15px 20px;
		text-align: left;
		font-size: 14px;
		border: 1px solid transparent;
		color: #282828;
		width: 100%;
	    box-sizing: border-box;
	    outline: none;
	    &.error {
	    	border: 1px solid red;
	    }
	    &.disabled {
			opacity: 0.6;
			cursor: default;
	    }
		@include placeholder {
	    	@include placeholder-style-black;
	 	}
	}
	.button {
	    background: #34495e;
	    border-radius: 5px;
	    padding: 15px 20px;
	    color: #fff;
	    font-size: 14px;
	    border: 0;
	    margin: 10px 10px 0 0;
	    &.disabled {
	        opacity: 0.6;
	        cursor: default;
	    }
	    &.icon {
	        margin-right: 15px;
	    }
	    &.success {
	        background: #1abc9c;
	    }
	}
	.icon.download_icon {
		margin: 0 10px 0;
	    background-position: 0 -426px;
	}
	&_label {
		max-width: 250px;
	    flex: 1;
	}
	&_input {
		flex: 2;
		margin: 0 0 0 10px;
		max-width: 500px;
	    position: relative;
	}
	&.headquarters {
		input, textarea {
			background: none;
		}
		.form_label {
		    font-size: 16px;
		}
		.select_text {
			display: block;
			padding: 15px 20px;
		    font-size: 14px;
		    color: #282828;
		    font-family: Helvetika, sans-serif;
		}
		.select_wrap {
			display: none;
		}
		&.edit {
			input, textarea {
				background: #f2f2f2;
			}
			.select_text {
				display: none;
			}
			.select_wrap {
				display: block;
			}
		}
	}
}
.results_area {
	.form {
		.row {
		    margin: 0 0 25px;
		}
		.mistake {
		    left: 0;
	    	margin: 25px 0 0 0;
		}
		.percent {
		    padding: 0 0 0 20px;
	    	box-sizing: border-box;
		}
	}
}

.parcer {
	.form {
		&_label {
		    flex: 1;
		}
		&_input {
		    flex: 2;
		}
	}
}

.navigation {
	text-align: center;
	color: #fff;
	margin: 20px 0 0;
	a {
		color: #fff;
	}
	&-title {
	    font-size: 16px;
	}
	&-arrows {
		display: none;
	}
	&-pages {
		a, .nav-current-page {
			padding: 5px 10px;
		}
		.nav-current-page {
    		border: 1px solid;
		}
	}
}

.password_form {
    background: #fff;
	text-align: left;
    max-width: 940px;
    margin: 20px auto;
    border-radius: 5px;
    .starrequired {
        display: inline-block;
    	vertical-align: baseline;
    }
    input {
	    max-width: 500px;
    }
    input[type="submit"] {
	    background: #34495e;
	    border-radius: 5px;
	    padding: 15px 20px;
	    color: #fff;
	    font-size: 14px;
	    border: 0;
	    width: auto;
    }
    &_table {
	    border-radius: 5px;
    	overflow: hidden;
        margin: 0 0 20px;
        text-align: left;
        tbody tr:nth-child(even) {
		    background: #fff;
		}
		tbody tr:first-child {
		    border-bottom: 1px solid #e5edf5;
		}
    	td {
		    padding: 10px;
    	}
    	.title {
	    	font-size: 20px;
	        margin: 10px 0;
	        text-align: center;
	    	display: block;
	    	font-weight: bold;
	    }
    }
    .errortext {
	    font-weight: bold;
	    margin: 0 0 10px;
	    display: block;
    }
    .info {
        font-size: 16px;
        margin: 20px 0 0;
	    font-size: 16px;
	    background: #fff;
		border-radius: 5px;
    	overflow: hidden;
	    padding: 20px 10px;
	    max-width: 940px;
	    margin: 0 auto;
	    text-align: center;
	    .text {
	    	margin: 0 0 10px;
	        display: block;
	    }
	    .button {
	        background: #34495e;
		    border-radius: 5px;
		    font-size: 16px;
		    padding: 15px 20px;
		    color: #fff;
		    border: 0;
		    width: auto;
		    display: inline-block;
	    }
    }
}

.logs {
	li {
		margin: 0 0 10px;
		span {
			font-weight: bold;
		    display: block;
		}
		.inner_subtext {
			margin: 0 0 0 10px;
			span {
				font-weight: normal;
			    display: inline;
			}
		}
	}
}
