.footer {
	padding: 20px 10px;
    margin-right: 10px;
	.copiright {
		display: inline-block;
		vertical-align: middle;		
	}
	.webmaster {
		float: right;
	}
}

.sidebar {
	.footer {
		position: absolute;
		bottom: 20px;
		left: 0;
		color: #5c7d9f;
		font-size: 12px;
		margin: 0;
		padding: 20px 10px 20px 20px;	
		.copiright {
			margin: 0 0 20px;
			line-height: 15px;
		}
		.webmaster {
			float: none;
		}
	}
}