.panel {
	height: 10px;
	width: 100%;
}
.header {
    background: #34495e;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
	box-shadow: 0 5px 10px #202020;
    font-family: Arial;
	a, span {
		color: #fff;
	}
	.icon-plus {
		display: none;
	    transform: rotate(45deg);
	}
	&.wide_content {
		.menu_header,
		.search,
		.user,
		.one_card,
		.election,
		.title_graph
		 {
			display: none;
		}
		.right_block {
		    min-width: 0;
		}
		.icon-plus {
		    display: inline-block;
		}
		.filter {
			display: block;
			&.active {
				pointer-events: none;
			}
		}
	}
	.right_block {
	    position: absolute;
	    right: 0;
	    top: 0;
        height: 50px;
        font-size: 0;
        .button {
        	&:last-child {
        		border-radius: 0 5px 5px 0;
        	}
        }
	}
	.button {
    	height: 100%;
    	float: left;
    	border-bottom: 2px solid transparent;
    	border-top: 2px solid transparent;
	    box-sizing: border-box;
	    position: relative;
	    font-size: 14px;
	    &:before {
		    content: '';
		    position: absolute;
		    left: -2px;
		    top: 0;
		    width: 2px;
		    height: 100%;
		    background: url(../images/border-left.png) repeat-y;
		}
    	&:hover {
		    background: #4a7197;
			border-color: #3b5c7b;
			border-top-color: #4a7197;
    	}
    	.drop_block {
    		display: none;
		    width: 355px;
		    padding: 10px 10px 0 10px;
		    background: #324e69;
		    position: absolute;
		    top: 48px;
		    border-radius: 0 0 5px 5px;
		    color: #fff;
    		&.active {
    			display: block;
    		}
    		.select_wrap {
    			margin-bottom: 5px;
    		}
    		.drop_select {
    			width: 100%;
    		}
    		.list_commission {
    			margin: 20px 0 0;
    		}
    		.buttons {
			    margin: 10px -10px 0;
			    border-radius: 5px;
			    overflow: hidden;
			    position: relative;
    			.button {
    				border: 0;
    				&:before {
    					display: none;
    				}
    			}
    			.close {
    				background: #243a51;
    				width: 85px;
    				position: absolute;
    				left: 0;
    				top: 0;
    				z-index: 4;
    			}
    			.apply {
    				background: #1abc9c;
    				padding-left: 85px;
				    text-align: center;
    				width: 100%;
    				z-index: 2;
    			}
    		}
    		.level {
			    margin: 10px 0 40px 10px;
			    .checkboxes {
				    .checkbox {
				        display: inline-block;
					    width: 160px;
					    position: relative;
					    margin: 0 0 10px 0;
					    padding-right: 10px;
					}
				}
			}
    	}
    	a {
    		line-height: 46px;
    		padding: 0 30px;
    	    display: block;
    	}
    	.icon {
    		margin-right: 15px;
    	}
    }
    .btn_sidebar {
	    cursor: pointer;
	    height: 100%;
	    line-height: 48px;
	    float: left;
	    padding: 0 25px;
	    box-sizing: border-box;
	    display: flex;
	    overflow: hidden;
	    align-items: center;
    	border-radius: 5px 0 0 5px;
	}
	.btn_menu {
		display: none;
	    cursor: pointer;
	    height: 100%;
	    line-height: 48px;
	    float: left;
	    border-bottom: 2px solid #3b5c7b;
	    background: #4a7197;
	    padding: 0 25px;
	    box-sizing: border-box;
	    overflow: hidden;
    	border-radius: 5px 0 0 5px;
	}
	.filter {
		display: none;
	}
}
.menu_header {
	font-size: 0;
    height: 100%;
    float: left;
    overflow: hidden;
    border-radius: 5px 0 0 5px;
	&__item {
		display: inline-block;
		vertical-align: top;
	    height: 100%;
        box-sizing: border-box;
		border-bottom: 2px solid transparent;
		a, span {
			padding: 0 30px;
			display: inline-block;
			font-size: 16px;
			font-weight: bold;
		    line-height: 50px;
			text-transform: uppercase;
			font-family: $proxima_regular;
		    box-sizing: border-box;
		}
		&.active,
		&:hover {
			background: #4a7197;
			border-color: #3b5c7b;
		}
	}
}

.search {
    display: block;
    height: 100%;
    padding-left: 0;
    margin: 0 142px 0 20px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
    border-top: 2px solid transparent;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 2px;
		height: 100%;
		background: url(../images/border-left.png) repeat-y;
	}
	form {
		height: 100%;
	}
	input[type="text"] {
		height: 100%;
		border: none;
		background: none;
		transition: 0.2s;
		width: 100%;
		padding: 0 15px 0 45px;
	    box-sizing: border-box;
	    &:focus {
			background: #fff;
		}
	}
	input[type="submit"] {
		height: 21px;
		width: 20px;
		overflow: hidden;
		text-indent: -200px;
		border: none;
		position: absolute;
		left: 15px;
		top: 15px;
		background: url(../images/sprite.png) 0 -24px;
	}
	&.focus {
		input[type="text"] {
			background: #fff;
			padding: 0 45px 0 15px;
			@include placeholder {
			    color: #000;
		  	}
		}
		input[type="submit"] {
			background-position: 0 -78px;
			background-color: #fff;
			right: 15px;
			left: auto;
			&:focus,
			&:active {
				input[type="submit"] {
					background-position: 0 -78px;
					right: 15px;
					left: auto;
				}
			}
		}
	}
}
