.lt-ie8 .page-root * {
	display: none;
}

.browserupgrade {
	display: block;
	width: 780px;
	background: #fff;
	color: #4a7197;
	padding: 40px;
	text-align: center;
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;	
	margin: -50px 0 0 -390px;
    box-sizing: border-box;
    a {
    	text-decoration: underline;
    	&:hover {
    		text-decoration: none;
    	}
    }
}