@media (max-width: 930px) {
	.page {
	    z-index: 0;
    	overflow: initial;
	}
	.header {
	    z-index: 1;
		.menu_header {
			display: none;
			position: absolute;
			top: 50px;
			left: 0;
			height: auto;
			background: #4a7197;
			border-radius: 0 0 5px 5px;
			&.active {
				display: block;
			}
			&__item {
				display: block;
				border: none;
				span, a {
				    text-transform: none;
				    width: 100%;
				}
			}
		}
		.filter {
			display: block;
		}
		.btn_menu {
			display: flex;
    		align-items: center;
		}
		.btn_sidebar {
			display: none;
		}
	}
	.sidebar {
		display: none;
		height: auto;
		left: 74px;
	    top: -10px;
		position: absolute;
	    width: 355px;
		z-index: 9;
		border-radius: 0 0 5px 5px;
		.footer {
			display: none;
		}
		&_wrap {
			overflow-y: scroll;
			max-height: 400px;
		}
		&.active {
			display: block;
		}
		.buttons {
			display: block;
		}
		.selection .row {
			margin-top: 10px;
			.button {
				width: 100%;
			}
		}
	}
	.container {
		padding-left: 0;
		.card_selection {
		    margin: 0 0 10px 0;
		}
	}
	.one_card {
		.card_selection {
			padding-bottom: 50px;
		}
		.button_bottom {
			display: block;
		}
		.graphs {
			.row {
				padding: 0;
			}
		}
	}

	.tabs {
	    .button_list_wrap {
	    	display: none;
	    }
	    .tab_content {
			max-height: 278px;
	  		overflow-y: scroll;
	    }
	}

	.graphs {
		.row {
			padding: 0 20px;
		}
	}
	.footer {
	    margin-right: 0;
	}

	.autorization {
	    &_logo {
	    	width: 70px;
	    	height: 69px;
	    	background: url('../images/small_logo.png');
	    }
	}

	.form {
		.mistake {
	        left: 0;
	        top: auto;
	        right: auto;
		    margin: 0;
		    bottom: -15px;
		}
	}
}
@media(min-height:1050px) and(max-height: 1300px) {
	.one_card {
		min-height: 1200px;
		.slider {
			min-height: 810px;
		}
		.graphs .graph {
			height: 640px;
		}
	}
	.footer {
		display: none;
		.copiright {
			display: none;
		}
		.webmaster {
			display: none;
		}
	}
	.select_wrap .drop_select {
		max-height: 540px;
	}
	.wide_content .one_card {
		.slider {
			min-height: 900px;
		}
		.graphs .graph {
			height: 900px;
		}
	}
}
@media(min-height:1025px) and(max-height:1049px) {
	.one_card {
		min-height: 1100px;
		.slider {
			min-height: 880px;
		}
		.graphs .graph {
			height: 620px;
		}
	}
	.footer {
		display: none;
		.copiright {
			display: none;
		}
		.webmaster {
			display: none;
		}
	}
	.select_wrap .drop_select {
		max-height: 500px;
	}
	.wide_content .one_card {
		.slider {
			min-height: 920px;
		}
		.graphs .graph {
			height: 820px;
		}
	}
}
@media(min-height:931px) and(max-height:1024px) {
	.one_card {
		min-height: 800px;
		.slider {
			min-height: 680px;
		}
		.graphs .graph {
			height: 570px;
		}
	}
	.footer {
		display: none;
		.copiright {
			display: none;
		}
		.webmaster {
			display: none;
		}
	}
	.select_wrap .drop_select {
		max-height: 440px;
	}
	.tabs .tab_content {
		min-height: 680px;
	}
	.wide_content .one_card {
		min-height: 920px;
		.slider {
			min-height: 830px;
		}
		.graphs .graph {
			height: 760px;
		}
	}
}
@media(min-height:801px) and(max-height:930px) {
	.one_card {
		min-height: 700px;
		.slider {
			min-height: 540px;
		}
		.graphs .graph {
			height: 430px;
		}
	}
	.footer {
		display: none;
		.copiright {
			display: none;
		}
		.webmaster {
			display: none;
		}
	}
	.select_wrap .drop_select {
		max-height: 400px;
	}
	.wide_content .one_card {
		min-height: 780px;
		.graphs .graph {
			height: 630px;
		}
	}
}
@media(max-height: 800px) {
	.one_card {
		min-height: 580px;
		.slider {
			min-height: 500px;
		}
		.graphs .graph {
			height: 400px;
		}
	}
	.footer {
		display: none;
		.copiright {
			display: none;
		}
		.webmaster {
			display: none;
		}
	}
	.select_wrap .drop_select {
		max-height: 280px;
	}
	.tabs .tab_content {
		min-height: 400px;
	}
	.wide_content .one_card {
		min-height: 790px;
		.slider {
			min-height: 660px;
		}
		.graphs .graph {
			height: 600px;
		}
	}
}
@media only screen and(min-device-width: 768px) and(max-device-width: 1024px) and(-webkit-min-device-pixel-ratio: 1) {
	.wide_content {
		&.header {
			position: absolute;
			top: 0;
			position: absolute;
			top: 0;
		}
		.container {
			margin-top: 50px;
			margin-top: 50px;
		}
	}
}
@media only screen and(min-device-width: 768px) and(max-device-width: 1024px) and(-webkit-min-device-pixel-ratio: 2) {
	.wide_content {
		&.header {
			position: relative;
			top: 0;
		}
		.container {
			margin-top: 50px;
		}
	}
}
