@mixin resetInput($bdrad) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: $bdrad;
    -moz-border-radius: $bdrad;
    border-radius: $bdrad;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    outline: none;
    border: 0;
}
%container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
%reset {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
    background: transparent;
}
* {
    margin: 0;
    padding: 0;
}
html, body {
    @extend %reset;
}
// .page-root {
    div, span, object, iframe, blockquote, pre,
    abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i,
    dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
        @extend %reset;
    }
// }
article, aside, figure, footer,
header, nav, section, details, summary {
    display: block;
}
*, * {
    &:before,
    &:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}
img, object, embed {
    max-width: 100%;
    // height: auto;
}
// html {
//     overflow-y: scroll;
// }
.page-root {
    ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
        &:before,
        &:after {
            content: '';
            content: none;
        }
    }
    a {
        margin: 0;
        padding: 0;
        font-size: 100%;
        vertical-align: baseline;
    }
    select,
    input,
    textarea {
        font: 99% sans-serif;
        outline: none;
    }

    small {
        font-size: 85%;
    }

    strong, .strong {
        font-weight: bold;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
    }
    sup {
        top: -0.5em;
    }
    sub {
        bottom: -0.25em;
    }
    pre,
    code,
    kbd,
    samp {
        font-family: monospace, sans-serif;
    }
    del {
        text-decoration: line-through;
    }
    abbr[title],
    dfn[title] {
        border-bottom: 1px dotted #000;
        cursor: help;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #ccc;
        margin: 1em 0;
        padding: 0;
    }
    input,
    select {
        vertical-align: middle;
    }
    pre {
        white-space: pre; //* CSS2 */
        white-space: pre-wrap; //* CSS 2.1 */
        white-space: pre-line; //* CSS 3 (and 2.1 as well, actually) */
        word-wrap: break-word; //* IE */
    }
    input[type="radio"] {
        vertical-align: text-bottom;
    }
    input[type="checkbox"] {
        vertical-align: bottom;
    }
    button,
    input,
    select,
    textarea {
        margin: 0;
    }
    button,
    input[type=button] {
        width: auto;
        overflow: visible;
    }
}
.ie7 {
    input[type="checkbox"] {
        vertical-align: baseline;
    }
    img {
        -ms-interpolation-mode: bicubic;
    }
}
.ie6 input {
    vertical-align: text-bottom;
}
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button { 
    cursor: pointer;
    outline: none;
}
// .ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
.clearfix {
    zoom: 1;
    &:before,
    &:after {
        content: "\0020";
        display: block;
        height: 0;
        overflow: hidden;
    }
    &:after {
        clear: both;
    }
}
.hidden {
    display: none;
}