$textColor: #4a7197;
$linkColor: #4a7197;
$linkHoverColor: #4a7197;
$proxima_regular: 'proxima_nova_cn_rgregular';

@mixin placeholder {
  &::-moz-placeholder { @content }
  &::-webkit-input-placeholder { @content }
  &:-ms-input-placeholder { @content }
}
@mixin placeholder-style {
  color: #fff;
}

input[type=text] {
  @include placeholder {
    @include placeholder-style;
  }
}

@mixin placeholder-style-black {
  color: #282828;
}
