// bower:scss
// endbower
@import 'vars',
        'reset';
html,
body {
    position: relative;
    height: 100%;
}
body {
    color: $textColor;
    background: #243a51;
    font-family: $proxima_regular, sans-serif;
    font-size: 14px;
    overflow: hidden;
}


@font-face {
    font-family: 'proxima_nova_cn_rgregular';
    src: url('../fonts/proxima_nova_condensed_regular-webfont.eot');
    src: url('../fonts/proxima_nova_condensed_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/proxima_nova_condensed_regular-webfont.woff2') format('woff2'),
         url('../fonts/proxima_nova_condensed_regular-webfont.woff') format('woff'),
         url('../fonts/proxima_nova_condensed_regular-webfont.svg#proxima_nova_cn_rgregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome.otf');
    src: url('../fonts/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontawesome-webfont.woff2') format('woff2'),
         url('../fonts/fontawesome-webfont.woff') format('woff'),
         url('../fonts/fontawesome-webfont.ttf') format('ttf'),
         url('../fonts/fontawesome-webfont.svg#FontAwesome') format('svg');
    font-weight: normal;
    font-style: normal;
}
.tablebodytext {
    display: none;
}
.right {
    float: right;
}

.button {
    cursor: pointer;
}

a {
    color: $linkColor;
    text-decoration: none;
}

h1, h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 0 0 10px;
}
h3 {
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 10px;
}


.page-root {
    min-height: 100%;
    // max-width: 1170px;
    padding: 0 10px;
    margin: 0 auto;
}
.page {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.select_wrap,
.checkboxes_select {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 0 20px;
    select {
        display: none;
    }
    .select {
        display: block;
        box-sizing: border-box;
        cursor: pointer;
        text-align: left;
        min-height: 47px;
        padding: 15px 50px 15px 15px;
        font-size: 14px;
        border-radius: 5px;
        overflow: hidden;
        position: relative;
        background: #588aba;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: #fff;
        font-family: 'Arial', sans-serif;
        span {
            opacity: 0.5;
        }
        &.active {
            border-radius: 5px 5px 0 0;
        }
        &:before {
            content: '';
            color: #fff;
            font-family: 'Arial', sans-serif;
            position: absolute;
            right: 15px;
            top: 50%;
            margin: -2px 0 0;
            border-top: 7px solid;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
            border-bottom: 0 solid transparent;
        }
        &:after {
            content: '';
            color: #fff;
            position: absolute;
            right: 40px;
            top: 0;
            background: #4b759e;
            width: 2px;
            height: 100%;
        }
    }
    .drop_select,
    .checkboxes {
        display: none;
        background: #588aba;
        color: #fff;
        box-sizing: border-box;
        position: absolute;
        top: 46px;
        left: 0;
        max-height: 250px;
        overflow-y: auto;
        border: 1px solid #4b759e;
        z-index: 9;
        &.active {
            display: block;
            border-top-color: #4b759e;
        }
        .mCSB_container {
            padding: 0;
        }
        span {
            display: block;
            padding: 10px;
            margin: 0;
            cursor: pointer;
            width: 100%;
            box-sizing: border-box;
            &:first-child {
                margin: 0;
            }
            &:hover,
            &.selected {
                background: #4b759e;
            }
        }
        .checkbox {
            padding: 0;
            label {
                position: relative;
                box-sizing: border-box;
                width: 100%;
                display: block;
                padding: 10px;
                &:hover {
                    &:before {
                        border: 1px solid #fff;
                        border-radius: 6px;
                    }
                }
            }
            input[type="checkbox"]:checked ~ label:before {
                border: 0;
            }
            span {
                padding: 0;
                width: auto;
            }
        }
    }
    .checkboxes {
        width: 100%;
    }
}

/*** File button ***/

.file-load-block {
    overflow: hidden;
    position: relative;
    font-size: 0;
    display: inline-block;
    input[type=file] {
        opacity: 0;
        filter: alpha(opacity=0);
        position: absolute;
        top: 0;
        right: 0;
        height: 35px;
        font-size: 600px;
        z-index: 2;
        cursor: pointer;
        width: auto;
    }
    input[type=text] {
        z-index: 1;
        width: 155px;
        padding: 0;
        margin: 0 0 0 10px;
        font-size: 14px;
        border: none;
        background: none;
        display: inline-block;
        vertical-align: middle;
        white-space:nowrap;
        text-overflow: ellipsis;
        -o-text-overflow: ellipsis;
    }
    button {
        background: #34495e;
        border-radius: 5px;
        padding: 10px 12px;
        color: #fff;
        font-size: 14px;
        border: 0;
        display: inline-block;
        vertical-align: middle;
    }
    .button-hover {
        box-shadow: 0 0 2px #ccc;
    }
}

.checkboxes {
    .checkbox {
        display: block;
        position: relative;
        margin: 0 0 10px 0;
        &.disabled {
            cursor: default;
            opacity: 0.6;
        }
        input[type="checkbox"] {
            display: none;
            &:checked ~ label {
                &:before {
                    background-position: -21px 0;
                }
            }
        }
        label {
            &:before {
                content: '';
                position: relative;
                width: 20px;
                height: 20px;
                background: url(../images/sprite.png) 0 0;
                display: inline-block;
                vertical-align: middle;
                margin: 0 10px 0 0;
            }
            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.icon {
    display: inline-block;
    vertical-align: middle;
    background: url(../images/sprite.png);
    &.user {
        width: 20px;
        height: 20px;
        background-position: -21px -56px;
    }
    &.enshrined {
        width: 12px;
        height: 25px;
        background-position: -25px -24px;
    }
    // &.fixed_icon {
    //     width: 14px;
    //     height: 20px;
    //     background-position: -2px -56px;
    // }
    &.man {
        width: 20px;
        height: 20px;
        background-position: -23px -101px;
    }
    &.people {
        width: 41px;
        height: 20px;
        background-position: 0 -197px;
    }
    &.door {
        width: 24px;
        height: 20px;
        background-position: 0 -145px;
    }
    &.print_icon {
        width: 20px;
        height: 20px;
        background-position: 0 -223px;
    }
    // &.graph_horizontal {
    //     width: 20px;
    //     height: 16px;
    //     background-position: 0 -313px;
    // }
    // &.graph_horizontal_list {
    //     width: 16px;
    //     height: 16px;
    //     background-position: 0 -296px;
    // }
    // &.graph_vertical_list {
    //     width: 14px;
    //     height: 16px;
    //     background-position: 0 -280px;
    // }
    // &.graph_line {
    //     width: 14px;
    //     height: 16px;
    //     background-position: 0 -264px;
    // }
    // &.graph_circular {
    //     width: 16px;
    //     height: 16px;
    //     background-position: 0 -246px;
    // }
    &.icon_menu {
        width: 24px;
        height: 15px;
        background-position: -22px -78px;
    }
    &.icon_filter {
        width: 18px;
        height: 20px;
        background-position: 0 -331px;
    }
    &.icon_filter_full {
        width: 18px;
        height: 20px;
        background-position: -24px -331px;
    }
    &.icon_arrow {
        width: 9px;
        height: 14px;
        background-position: 0 -354px;
    }
    &.icon_close {
        width: 21px;
        height: 21px;
        background-position: -18px -355px;
    }
    &.icon_apply {
        width: 24px;
        height: 18px;
        background-position: 0 -381px;
    }
    &.icon_list {
        width: 20px;
        height: 24px;
        background-position: -30px -378px;
    }
    &.download_icon {
        width: 18px;
        height: 20px;
        background-position: 0 -404px;
    }
    &.mail {
        background: none;
        .icon-mail {
            width: 18px;
            height: 20px;
            background: none;
            fill: #588aba;
        }
    }
}

.icon-plus {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: #fff;
    display: inline-block;
    vertical-align: middle;
}
.icon-pencil {
    width: 25px;
    height: 25px;
    fill: #588aba;
}

.graph_horizontal {
    width: 20px;
    height: 16px;
}
.graph_horizontal_list {
    width: 16px;
    height: 16px;
}
.graph_vertical_list {
    width: 14px;
    height: 16px;
}
.graph_line {
    width: 14px;
    height: 16px;
    stroke: #4a7197;
}
.graph_circular {
    width: 16px;
    height: 16px;
    stroke: #4a7197;
}
.tabs {
    .tab_link {
        &:hover,
        &.active {
            .graph_line {
                stroke: #fff;
            }
            .graph_circular {
                stroke: #fff;
            }
        }
    }
}

.button.active,
.button:hover {
    .man {
        background-position: 0 -123px;
    }
    .people {
        background-position: 0 -175px;
    }
    .door {
        background-position: -26px -145px;
    }
    .icon_list {
        background-position: -30px -402px;
    }
    .download_icon {
        background-position: 0 -426px;
    }
    .icon-mail {
        fill: #fff;
    }
}



.tab_link.active,
.tab_link:hover {
    .graph_horizontal {
        width: 20px;
        height: 16px;
        background-position: -24px -313px;
    }
    .graph_horizontal_list {
        width: 16px;
        height: 16px;
        background-position: -24px -296px;
    }
    .graph_vertical_list {
        width: 14px;
        height: 16px;
        background-position: -24px -280px;
    }
    .graph_line {
        width: 14px;
        height: 16px;
        background-position: -24px -264px;
    }
    .graph_circular {
        width: 16px;
        height: 16px;
        background-position: -24px -246px;
    }
}

.load {
    display: none;
}
.load_wrap {
    position: relative;
    .load {
        display: block;
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background: none;
            opacity: 0.5;
            top: 0;
            left: 0;
            z-index: 9;
        }
        &:after {
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            opacity: 0.4;
            background: url(../images/load.gif);
            margin: -20px 0 0 -20px;
            top: 50%;
            left: 50%;
            z-index: 9;
        }
    }
}
.load_overflow {
    display: block;
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.5;
        top: 0;
        left: 0;
        z-index: 9;
    }
    &:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0.4;
        background: url(../images/load.gif);
        margin: -20px 0 0 -20px;
        top: 50%;
        left: 50%;
        z-index: 9;
    }
}


.colorbox {
    outline: none;
}
#cboxOverlay{
    position:fixed;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index: 9;
    background: #000;
}
.close {
    top: 10px;
    right: 10px;
    border: none;
    z-index: 99;
    width: 15px;
    height: 15px;
    overflow: hidden;
    text-indent: -100px;
    position: absolute;
    background: url('../images/close.svg');
    background-size: cover;
    cursor: pointer;
}
.popup {
    position: relative;
    z-index: 99;
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    width: 600px;
    min-height: 200px;
    overflow: auto;
    .row {
        float: left;
        width: 100%;
        margin: 10px 0 0;
        &:first-child {
            margin: 0;
        }
    }
    .column {
        width: 48%;
        float: right;
        &:first-child {
            float: left;
        }
    }
    .title {
        font-size: 18px;
        margin: 0 0 10px;
        font-weight: bold;
        display: block;
    }
    .message {
        color: #f00;
        margin: 10px 0 0 0;
        display: block;
        &.report {
            color: #f00;
        }
    }
    input, textarea {
        background: #f2f2f2;
        border-radius: 5px;
        padding: 15px 20px;
        text-align: left;
        font-size: 14px;
        border: 1px solid transparent;
        color: #282828;
        width: 100%;
        box-sizing: border-box;
        outline: none;
        &.error {
            border: 1px solid red;
        }
        &.disabled {
            opacity: 0.6;
            cursor: default;
        }
        @include placeholder {
            @include placeholder-style-black;
        }
    }
    .buttons {
        width: 200px;
        margin: 20px 0 0;
        .button {
            background: #34495e;
            border-radius: 5px;
            padding: 15px 20px;
            color: #fff;
            font-size: 14px;
            border: 0;
            width: 100%;
            margin: 10px 0 0;
            &.disabled {
                opacity: 0.6;
                cursor: default;
            }
            &.icon {
                margin-right: 15px;
            }
            &.success {
                background: #1abc9c;
            }
        }
    }
    .list {
        .wrap {
            max-height: 200px;
            overflow: auto;
            padding: 0 10px 0 0;
        }
        input {
            margin: 10px 0 0;
            &:first-child {
                margin: 0;
            }
        }
    }
    .icon-plus {
        fill: #34495e;
        padding: 10px;
        border: 2px solid #34495e;
        float: right;
        margin: 10px 0 0;
    }
    .rep {
        .checkbox {
            label {
                position: relative;
                &:before {
                    position: absolute;
                    left: 0;
                    top: -2px;
                }
                span {
                    padding: 0 0 0 30px;
                    min-height: 20px;
                    display: block;
                }
            }
        }
    }
}

.mistake {
    color: red;
}

.print_container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    background: #fff;
    .graph {
        max-width: 1000px;
    }
}

@media print{
    .header,
    .sidebar,
    .card_selection__head,
    .title_graph,
    .tabs_head,
    .owl-controls,
    .bx-panel-folded,
    .bx-panel-menu,
    a {
        display: none;
    }
    .tabs_content {
        float: left;
    }
    @page {size:landscape;}
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
    margin: 0 -3px 0 0;
}

@import 'content',
        'header',
        'ie',
        'footer',
        'media';

/* Style for tooltip highcharts js */
.highcharts-tooltip {
  h3 {
     font-size: 18px !important;
     padding-bottom: 10px;
     margin-bottom: 0px;
  }
  .highcharts-tooltip p {
     font-size: 16px !important;
  }
}
