.batch .color img, .batch .logo img, .graphs .graph, embed, img, object {
  max-width: 100%
}

*, .page-root a {
  margin: 0;
  padding: 0
}

.page-root hr, article, aside, details, figure, footer, header, nav, section, summary {
  display: block
}

a, body {
  color: #4a7197
}

input[type=text]::-moz-placeholder {
  color: #fff
}

input[type=text]::-webkit-input-placeholder {
  color: #fff
}

input[type=text]:-ms-input-placeholder {
  color: #fff
}

abbr, address, article, aside, audio, b, blockquote, body, caption, cite, code, dd, del, details, dfn, div, dl, dt, em, fieldset, figure, footer, form, header, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, pre, q, samp, section, small, span, strong, sub, summary, sup, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: 400;
  vertical-align: baseline;
  background: 0 0
}

:after, :before {
  box-sizing: border-box
}

.page-root ul {
  list-style: none
}

.page-root blockquote, .page-root q {
  quotes: none
}

.page-root blockquote:after, .page-root blockquote:before, .page-root q:after, .page-root q:before {
  content: '';
  content: none
}

.page-root a {
  font-size: 100%;
  vertical-align: baseline
}

.page-root input, .page-root select, .page-root textarea {
  font: 99% sans-serif;
  outline: 0
}

.page-root small {
  font-size: 85%
}

.page-root .strong, .page-root strong {
  font-weight: 700
}

.page-root sub, .page-root sup {
  font-size: 75%;
  line-height: 0;
  position: relative
}

.page-root sup {
  top: -.5em
}

.page-root sub {
  bottom: -.25em
}

.page-root code, .page-root kbd, .page-root pre, .page-root samp {
  font-family: monospace, sans-serif
}

.page-root del {
  text-decoration: line-through
}

.page-root abbr[title], .page-root dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help
}

.page-root table {
  border-collapse: collapse;
  border-spacing: 0
}

.page-root hr {
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0
}

.page-root input, .page-root select {
  vertical-align: middle
}

.page-root pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word
}

.page-root input[type=radio] {
  vertical-align: text-bottom
}

.page-root input[type=checkbox] {
  vertical-align: bottom
}

.page-root button, .page-root input, .page-root select, .page-root textarea {
  margin: 0
}

h1, h2, h3 {
  margin: 0 0 10px;
  font-weight: 700
}

.page-root button, .page-root input[type=button] {
  width: auto;
  overflow: visible
}

.ie7 input[type=checkbox] {
  vertical-align: baseline
}

.ie7 img {
  -ms-interpolation-mode: bicubic
}

.ie6 input {
  vertical-align: text-bottom
}

.clickable, button, input[type=button], input[type=file], input[type=submit], label {
  cursor: pointer;
  outline: 0
}

.clearfix {
  zoom: 1
}

.clearfix:after, .clearfix:before {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden
}

.hidden, .tablebodytext {
  display: none
}

.clearfix:after {
  clear: both
}

body, html {
  position: relative;
  height: 100%
}

body {
  background: #243a51;
  font-family: proxima_nova_cn_rgregular, sans-serif;
  font-size: 14px;
  overflow: hidden
}

@media (max-height: 767px) {
  body {
    overflow: auto;
  }
}

.checkboxes_select .select, .select_wrap .select, .sidebar {
  font-family: Arial, sans-serif
}

@font-face {
  font-family: proxima_nova_cn_rgregular;
  src: url(../fonts/proxima_nova_condensed_regular-webfont.eot);
  src: url(../fonts/proxima_nova_condensed_regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/proxima_nova_condensed_regular-webfont.woff2) format("woff2"), url(../fonts/proxima_nova_condensed_regular-webfont.woff) format("woff"), url(../fonts/proxima_nova_condensed_regular-webfont.svg#proxima_nova_cn_rgregular) format("svg");
  font-weight: 400;
  font-style: normal
}

@font-face {
  font-family: FontAwesome;
  src: url(../fonts/FontAwesome.otf);
  src: url(../fonts/fontawesome-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/fontawesome-webfont.woff2) format("woff2"), url(../fonts/fontawesome-webfont.woff) format("woff"), url(../fonts/fontawesome-webfont.ttf) format("ttf"), url(../fonts/fontawesome-webfont.svg#FontAwesome) format("svg");
  font-weight: 400;
  font-style: normal
}

.right {
  float: right
}

.button {
  cursor: pointer
}

a {
  text-decoration: none
}

h1, h2 {
  font-size: 16px
}

h3 {
  font-size: 14px
}

.page-root {
  min-height: 100%;
  padding: 0 10px;
  margin: 0 auto
}

.page {
  position: relative;
  z-index: 1;
  overflow: hidden
}

.checkboxes_select, .select_wrap {
  width: 100%;
  display: block;
  position: relative;
  margin: 0 0 20px
}

.checkboxes_select select, .select_wrap select {
  display: none
}

.checkboxes_select .select, .select_wrap .select {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  text-align: left;
  min-height: 47px;
  padding: 15px 50px 15px 15px;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  background: #588aba;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff
}

.checkboxes_select .select span, .select_wrap .select span {
  opacity: .5
}

.checkboxes_select .select.active, .select_wrap .select.active {
  border-radius: 5px 5px 0 0
}

.checkboxes_select .select:before, .select_wrap .select:before {
  content: '';
  color: #fff;
  font-family: Arial, sans-serif;
  position: absolute;
  right: 15px;
  top: 50%;
  margin: -2px 0 0;
  border-top: 7px solid;
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  border-bottom: 0 solid transparent
}

.checkboxes_select .select:after, .select_wrap .select:after {
  content: '';
  color: #fff;
  position: absolute;
  right: 40px;
  top: 0;
  background: #4b759e;
  width: 2px;
  height: 100%
}

.checkboxes_select .checkboxes, .checkboxes_select .drop_select, .select_wrap .checkboxes, .select_wrap .drop_select {
  display: none;
  background: #588aba;
  color: #fff;
  box-sizing: border-box;
  position: absolute;
  top: 46px;
  left: 0;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid #4b759e;
  z-index: 9
}

.checkboxes_select .checkboxes.active, .checkboxes_select .drop_select.active, .select_wrap .checkboxes.active, .select_wrap .drop_select.active {
  display: block;
  border-top-color: #4b759e
}

.checkboxes_select .checkboxes .mCSB_container, .checkboxes_select .drop_select .mCSB_container, .select_wrap .checkboxes .mCSB_container, .select_wrap .drop_select .mCSB_container {
  padding: 0
}

.checkboxes_select .checkboxes span, .checkboxes_select .drop_select span, .select_wrap .checkboxes span, .select_wrap .drop_select span {
  display: block;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box
}

.checkboxes_select .checkboxes span:first-child, .checkboxes_select .drop_select span:first-child, .select_wrap .checkboxes span:first-child, .select_wrap .drop_select span:first-child {
  margin: 0
}

.checkboxes_select .checkboxes span.selected, .checkboxes_select .checkboxes span:hover, .checkboxes_select .drop_select span.selected, .checkboxes_select .drop_select span:hover, .select_wrap .checkboxes span.selected, .select_wrap .checkboxes span:hover, .select_wrap .drop_select span.selected, .select_wrap .drop_select span:hover {
  background: #4b759e
}

.checkboxes_select .checkboxes .checkbox, .checkboxes_select .drop_select .checkbox, .select_wrap .checkboxes .checkbox, .select_wrap .drop_select .checkbox {
  padding: 0
}

.checkboxes_select .checkboxes .checkbox label, .checkboxes_select .drop_select .checkbox label, .select_wrap .checkboxes .checkbox label, .select_wrap .drop_select .checkbox label {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  display: block;
  padding: 10px
}

.checkboxes_select .checkboxes .checkbox label:hover:before, .checkboxes_select .drop_select .checkbox label:hover:before, .select_wrap .checkboxes .checkbox label:hover:before, .select_wrap .drop_select .checkbox label:hover:before {
  border: 1px solid #fff;
  border-radius: 6px
}

.checkboxes_select .checkboxes .checkbox input[type=checkbox]:checked~label:before, .checkboxes_select .drop_select .checkbox input[type=checkbox]:checked~label:before, .select_wrap .checkboxes .checkbox input[type=checkbox]:checked~label:before, .select_wrap .drop_select .checkbox input[type=checkbox]:checked~label:before {
  border: 0
}

.checkboxes_select .checkboxes .checkbox span, .checkboxes_select .drop_select .checkbox span, .select_wrap .checkboxes .checkbox span, .select_wrap .drop_select .checkbox span {
  padding: 0;
  width: auto
}

.checkboxes_select .checkboxes, .select_wrap .checkboxes {
  width: 100%
}

.file-load-block {
  overflow: hidden;
  position: relative;
  font-size: 0;
  display: inline-block
}

.file-load-block input[type=file] {
  opacity: 0;
  filter: alpha(opacity=0);
  position: absolute;
  top: 0;
  right: 0;
  height: 35px;
  font-size: 600px;
  z-index: 2;
  cursor: pointer;
  width: auto
}

.file-load-block button, .file-load-block input[type=text] {
  font-size: 14px;
  display: inline-block;
  vertical-align: middle
}

.file-load-block input[type=text] {
  z-index: 1;
  width: 155px;
  padding: 0;
  margin: 0 0 0 10px;
  border: none;
  background: 0 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis
}

.file-load-block button {
  background: #34495e;
  border-radius: 5px;
  padding: 10px 12px;
  color: #fff;
  border: 0
}

.file-load-block .button-hover {
  box-shadow: 0 0 2px #ccc
}

.checkboxes .checkbox {
  display: block;
  position: relative;
  margin: 0 0 10px
}

.checkboxes .checkbox.disabled {
  cursor: default;
  opacity: .6
}

.checkboxes .checkbox input[type=checkbox] {
  display: none
}

.checkboxes .checkbox input[type=checkbox]:checked~label:before {
  background-position: -21px 0
}

.checkboxes .checkbox label:before, .icon {
  background: url(../images/sprite.png);
  display: inline-block;
  vertical-align: middle
}

.checkboxes .checkbox label:before {
  content: '';
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 10px 0 0
}

.checkboxes .checkbox label span {
  display: inline-block;
  vertical-align: middle
}

.icon.user {
  width: 20px;
  height: 20px;
  background-position: -21px -56px
}

.icon.enshrined {
  width: 12px;
  height: 25px;
  background-position: -25px -24px
}

.icon.man {
  width: 20px;
  height: 20px;
  background-position: -23px -101px
}

.icon.people {
  width: 41px;
  height: 20px;
  background-position: 0 -197px
}

.icon.door {
  width: 24px;
  height: 20px;
  background-position: 0 -145px
}

.icon.print_icon {
  width: 20px;
  height: 20px;
  background-position: 0 -223px
}

.icon.icon_menu {
  width: 24px;
  height: 15px;
  background-position: -22px -78px
}

.icon.icon_filter {
  width: 18px;
  height: 20px;
  background-position: 0 -331px
}

.icon.icon_filter_full {
  width: 18px;
  height: 20px;
  background-position: -24px -331px
}

.icon.icon_arrow {
  width: 9px;
  height: 14px;
  background-position: 0 -354px
}

.icon.icon_close {
  width: 21px;
  height: 21px;
  background-position: -18px -355px
}

.icon.icon_apply {
  width: 24px;
  height: 18px;
  background-position: 0 -381px
}

.icon.icon_list {
  width: 20px;
  height: 24px;
  background-position: -30px -378px
}

.icon.download_icon {
  width: 18px;
  height: 20px;
  background-position: 0 -404px
}

.icon.mail {
  background: 0 0
}

.icon.mail .icon-mail {
  width: 18px;
  height: 20px;
  background: 0 0;
  fill: #588aba
}

.icon-plus {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: #fff;
  display: inline-block;
  vertical-align: middle
}

.load_overflow:after, .load_wrap .load:after {
  margin: -20px 0 0 -20px;
  z-index: 9;
  content: ''
}

.icon-pencil {
  width: 25px;
  height: 25px;
  fill: #588aba
}

.graph_horizontal {
  width: 20px;
  height: 16px
}

.graph_horizontal_list {
  width: 16px;
  height: 16px
}

.graph_line, .graph_vertical_list {
  width: 14px;
  height: 16px
}

.graph_line {
  stroke: #4a7197
}

.graph_circular {
  width: 16px;
  height: 16px;
  stroke: #4a7197
}

.tabs .tab_link.active .graph_circular, .tabs .tab_link.active .graph_line, .tabs .tab_link:hover .graph_circular, .tabs .tab_link:hover .graph_line {
  stroke: #fff
}

.button.active .man, .button:hover .man {
  background-position: 0 -123px
}

.button.active .people, .button:hover .people {
  background-position: 0 -175px
}

.button.active .door, .button:hover .door {
  background-position: -26px -145px
}

.button.active .icon_list, .button:hover .icon_list {
  background-position: -30px -402px
}

.button.active .download_icon, .button:hover .download_icon {
  background-position: 0 -426px
}

.button.active .icon-mail, .button:hover .icon-mail {
  fill: #fff
}

.tab_link.active .graph_horizontal, .tab_link:hover .graph_horizontal {
  width: 20px;
  height: 16px;
  background-position: -24px -313px
}

.tab_link.active .graph_horizontal_list, .tab_link:hover .graph_horizontal_list {
  width: 16px;
  height: 16px;
  background-position: -24px -296px
}

.tab_link.active .graph_vertical_list, .tab_link:hover .graph_vertical_list {
  width: 14px;
  height: 16px;
  background-position: -24px -280px
}

.tab_link.active .graph_line, .tab_link:hover .graph_line {
  width: 14px;
  height: 16px;
  background-position: -24px -264px
}

.tab_link.active .graph_circular, .tab_link:hover .graph_circular {
  width: 16px;
  height: 16px;
  background-position: -24px -246px
}

.load {
  display: none
}

.load_overflow, .load_wrap .load, .popup .message, .popup .title {
  display: block
}

.load_wrap {
  position: relative
}

.load_wrap .load:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: 0 0;
  opacity: .5;
  top: 0;
  left: 0;
  z-index: 9
}

.load_wrap .load:after {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: .4;
  background: url(../images/load.gif);
  top: 50%;
  left: 50%
}

.load_overflow:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .5;
  top: 0;
  left: 0;
  z-index: 9
}

.load_overflow:after {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: .4;
  background: url(../images/load.gif);
  top: 50%;
  left: 50%
}

.colorbox {
  outline: 0
}

#cboxOverlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  background: #000
}

.close {
  top: 10px;
  right: 10px;
  border: none;
  z-index: 99;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-indent: -100px;
  position: absolute;
  background: url(../images/close.svg);
  background-size: cover;
  cursor: pointer
}

.popup, .popup .rep .checkbox label {
  position: relative
}

.popup .buttons .button.disabled, .popup input.disabled, .popup textarea.disabled {
  opacity: .6;
  cursor: default
}

.popup {
  z-index: 99;
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  width: 600px;
  min-height: 200px;
  overflow: auto
}

.popup .row {
  float: left;
  width: 100%;
  margin: 10px 0 0
}

.popup .row:first-child {
  margin: 0
}

.popup .column {
  width: 48%;
  float: right
}

.popup .column:first-child {
  float: left
}

.popup .title {
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: 700
}

.popup .message {
  color: red;
  margin: 10px 0 0
}

.popup .message.report {
  color: red
}

.popup input, .popup textarea {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: left;
  font-size: 14px;
  border: 1px solid transparent;
  color: #282828;
  width: 100%;
  box-sizing: border-box;
  outline: 0
}

.popup input.error, .popup textarea.error {
  border: 1px solid red
}

.popup input::-moz-placeholder, .popup textarea::-moz-placeholder {
  color: #282828
}

.popup input::-webkit-input-placeholder, .popup textarea::-webkit-input-placeholder {
  color: #282828
}

.popup input:-ms-input-placeholder, .popup textarea:-ms-input-placeholder {
  color: #282828
}

.popup .buttons {
  width: 200px;
  margin: 20px 0 0
}

.popup .buttons .button {
  background: #34495e;
  border-radius: 5px;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  border: 0;
  width: 100%;
  margin: 10px 0 0
}

.card_selection__head .title.coordstatus, .overflow_slider {
  cursor: pointer
}

.popup .buttons .button.icon {
  margin-right: 15px
}

.popup .buttons .button.success {
  background: #1abc9c
}

.popup .list .wrap {
  max-height: 200px;
  overflow: auto;
  padding: 0 10px 0 0
}

.popup .list input {
  margin: 10px 0 0
}

.popup .list input:first-child {
  margin: 0
}

.popup .icon-plus {
  fill: #34495e;
  padding: 10px;
  border: 2px solid #34495e;
  float: right;
  margin: 10px 0 0
}

.popup .rep .checkbox label:before {
  position: absolute;
  left: 0;
  top: -2px
}

.popup .rep .checkbox label span {
  padding: 0 0 0 30px;
  min-height: 20px;
  display: block
}

.mistake {
  color: red
}

.print_container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  background: #fff
}

.print_container .graph {
  max-width: 1000px
}

@media print {
  .bx-panel-folded, .bx-panel-menu, .card_selection__head, .header, .owl-controls, .sidebar, .tabs_head, .title_graph, a {
    display: none
  }
  .tabs_content {
    float: left
  }
  @page {
    size: landscape
  }
}

* html .jspCorner {
  margin: 0 -3px 0 0
}

.wide_content.header {
  position: absolute;
  top: -35px;
  left: 0;
  display: block;
  transition: .1s
}

.wide_content.header:hover {
  top: 0
}

.wide_content.header:before {
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 100%;
  height: 10px
}

.wide_content .sidebar {
  display: none;
  left: 74px;
  top: -10px;
  position: absolute;
  width: 355px;
  height: auto!important;
  z-index: 9;
  border-radius: 0 0 5px 5px
}

.sidebar, .sidebar_wrap {
  height: 100%;
  position: relative;
  box-sizing: border-box
}

.wide_content .sidebar .footer {
  display: none
}

.wide_content .sidebar_wrap {
  overflow-y: auto;
  max-height: 400px
}

.wide_content .sidebar .buttons, .wide_content .sidebar.active {
  display: block
}

.wide_content .sidebar .buttons a {
  position: relative
}

.wide_content .sidebar .selection .row {
  margin-top: 10px
}

.wide_content .sidebar .selection .row .button {
  width: 100%
}

.wide_content .container {
  padding-left: 0;
  transition: .3s
}

.sidebar {
  width: 300px;
  background: #324e69;
  margin-right: -300px;
  float: left;
  padding: 10px 0 0;
  color: #fff
}

.sidebar_wrap {
  width: 100%;
  overflow-y: auto;
  outline: 0
}

.sidebar .checkboxes_select .checkboxes .mCustomScrollBox, .sidebar .drop_select .mCustomScrollBox {
  height: auto
}

.sidebar_wrap .mCSB_container {
  padding: 0 10px
}

.sidebar .selection {
  min-height: 200px
}

.sidebar .selection .row {
  margin-top: 20px
}

.sidebar .selection span {
  margin: 0 0 10px;
  display: block
}

.sidebar .selection .drop_select span, .sidebar .selection .select span {
  margin: 0
}

.sidebar .checkboxes_select .checkboxes {
  position: relative;
  top: 0
}

.sidebar .drop_select {
  width: 100%;
  position: relative;
  top: 0
}

.sidebar .button {
  border-radius: 5px;
  border: 1px solid #588aba;
  color: #588aba;
  padding: 10px 22px;
  margin-bottom: 10px;
  text-align: center;
  display: inline-block;
  box-sizing: border-box
}

.sidebar .button.active, .sidebar .button:hover {
  color: #fff;
  background: #588aba;
  border-color: #588aba
}

.sidebar .button span {
  margin: 0;
  display: inline-block;
  vertical-align: middle
}

.sidebar .button .icon {
  margin-right: 5px
}

.sidebar .button.wide {
  width: 100%;
  padding: 10px 0
}

.sidebar .button.success {
  background: #1abc9c;
  color: #fff;
  border: none;
  font-size: 18px
}

.sidebar .button.success:hover {
  background: #1abc9c
}

.sidebar .buttons {
  margin: 20px 0 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
  color: #fff;
  display: none
}

.sidebar .buttons .button {
  border: 0;
  padding: 0;
  margin: 0;
  line-height: 46px;
  height: 46px
}

.sidebar .buttons .button:before {
  display: none
}

.sidebar .buttons .close {
  background: #243a51;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 4;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.sidebar .buttons .apply {
  background: #1abc9c;
  color: #fff;
  padding-left: 85px;
  text-align: center;
  width: 100%;
  z-index: 2
}

.overflow:before, .overflow_slider {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  opacity: .5;
  z-index: 2;
  height: 100%;
  width: 100%
}

.sidebar .list_commission span {
  display: inline-block;
  margin: 0
}

.sidebar .checkboxes span {
  margin: 0
}

.list_commission {
  line-height: 30px;
  font-size: 12px
}

.list_commission h3 {
  line-height: 20px
}

.level {
  margin: 20px 0 0 20px
}

.overflow:before {
  content: ''
}

.container {
  width: 100%;
  height: 100%;
  padding-left: 310px;
  margin-top: 10px;
  box-sizing: border-box;
  overflow-y: auto;
  overflow-x: hidden
}

.container .mCSB_container {
  overflow: hidden
}

.container .mCSB_scrollTools {
  right: 0
}

.container .mCSB_scrollTools .mCSB_draggerRail {
  background: #324e69
}

.breadcrumbs {
  height: 50px;
  font-size: 0
}

.breadcrumbs .link {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 0
}

.breadcrumbs a {
  color: #dbe3e5;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px solid #657280
}

.breadcrumbs a:hover {
  border-color: transparent
}

.breadcrumbs span {
  color: #4a7197;
  font-weight: 700;
  font-size: 16px;
  display: inline-block;
  vertical-align: middle
}

.breadcrumbs i {
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle
}

.card_selection {
  background: #fff;
  border-radius: 5px;
  margin: 0 0 10px;
  float: left;
  width: 100%;
  position: relative
}

.card_selection__head {
  background: #f2f2f2;
  padding: 15px;
  position: relative;
  border-radius: 5px
}

.card_selection__head.open {
  border-radius: 5px 5px 0 0
}

.card_selection__head .number {
  font-size: 20px;
  max-width: 80px;
  position: absolute;
  left: 15px;
  top: 50%;
  margin-top: -12px;
  font-weight: 700
}

.card_selection__head .number span {
  font-size: 14px
}

.card_selection__head .title {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  margin-left: 95px;
  padding: 10px 60px 10px 15px
}

.card_selection__head .title:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: url(../images/border-left-white.png) repeat-y
}

.card_selection__head .enshrined_button {
  position: absolute;
  right: 15px;
  top: 15px;
  box-sizing: border-box
}

.button_bottom, .list_wrap {
  right: 0;
  font-family: Arial, sans-serif
}

.card_selection__head .enshrined_button .icon-pencil {
  vertical-align: middle;
  display: inline-block
}

.card_selection__head .enshrined_button .icon-fixed {
  width: 60px;
  height: 29px;
  fill: none;
  stroke: #4a7197
}

.card_selection__head .enshrined_button.active .icon-fixed {
  stroke: #fff;
  fill: #4a7197
}

.card_selection__head .enshrined_button .success {
  background: #1abc9c;
  padding: 10px;
  vertical-align: middle;
  display: inline-block;
  margin: 0 0 0 10px;
  border-radius: 5px
}

.card_selection__content {
  padding: 10px;
  float: left;
  box-sizing: border-box;
  width: 100%
}

.card_selection .select_wrap {
  margin: 0
}

.card_selection .select_wrap .drop_select {
  width: 100%;
  max-height: 220px
}

.card_selection.files input {
  width: auto
}

.no_data {
  text-align: center;
  font-size: 20px
}

.one_card .card_selection__content {
  padding: 10px 0
}

.one_card .tabs {
  padding: 0 10px
}

.one_card .title_graph {
  background: #f2f2f2;
  padding: 10px 20px 20px;
  margin: 0;
  overflow: hidden
}

.one_card .title_graph .title_link, .one_card .title_graph span {
  margin-left: 10%;
  vertical-align: top;
  display: inline-block
}

.one_card .title_graph span {
  font-size: 16px;
  font-weight: 700
}

.one_card .title_graph .name {
  max-width: 330px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden
}

.one_card .title_graph .title_link a {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px
}

.one_card .title_graph .title_link a:first-child {
  margin: 0
}

.one_card .title_graph .title_link .icon {
  fill: #405e7c
}

.one_card .title_graph .show_percent {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 40px
}

.one_card .title_graph .show_percent input[type=text] {
  border: 1px solid #4a7197;
  border-radius: 2px;
  max-width: 70px;
  margin: 0 10px;
  padding: 2px;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle
}

.one_card .title_graph .show_percent span {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  color: #243a51
}

.one_card .graphs .graph {
  border: none;
  width: 100%;
  height: 530px;
  padding: 0 25px;
  box-sizing: border-box
}

.one_card .graphs .row {
  margin: 0
}

.one_card .slider {
  min-height: 400px
}

.button_bottom {
  display: none;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #243a51;
  z-index: 9;
  font-size: 0;
  padding-bottom: 10px;
  border-radius: 5px 5px 0 0
}

.button_bottom .button, .button_list_wrap .button_list {
  line-height: 46px;
  font-size: 14px;
  box-sizing: border-box
}

.button_bottom__wrap {
  border-radius: 5px;
  background: #ebebeb
}

.button_bottom .button {
  height: 50px;
  padding: 0 30px;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent
}

.button_bottom .button:before, .button_bottom .button_list_wrap:before {
  position: absolute;
  left: -1px;
  width: 2px;
  height: 100%;
  top: 0;
  content: ''
}

.button_bottom .button:before {
  background: url(../images/border-left-white.png) repeat-y
}

.button_bottom .button:first-child {
  border-radius: 0 0 0 5px
}

.button_bottom .button_list_wrap .button_list, .button_bottom .right {
  border-radius: 0 0 5px
}

.button_bottom .button:first-child:before {
  display: none
}

.button_bottom .button span {
  display: inline-block;
  vertical-align: middle
}

.button_bottom .button .icon {
  margin-right: 10px
}

.button_bottom .button.active, .button_bottom .button:hover {
  background: #4a7197;
  border-color: #4a7197 #3b5c7b #3b5c7b;
  color: #fff
}

.button_bottom .button_list_wrap {
  margin: 0
}

.button_bottom .button_list_wrap:before {
  background: url(../images/border-left-white.png) repeat-y
}

.button_list_wrap {
  position: relative;
  margin: 20px 20px 0 0;
  z-index: 9
}

.button_list_wrap .button_list {
  padding: 0 50px;
  height: 50px;
  display: inline-block;
  position: relative;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent
}

.button_list_wrap .button_list.active, .button_list_wrap .button_list:hover {
  background: #4a7197;
  border-color: #4a7197 #3b5c7b #3b5c7b
}

.button_list_wrap .button_list.active .icon_list, .button_list_wrap .button_list:hover .icon_list {
  background-position: -30px -402px
}

.list_wrap {
  display: none;
  position: absolute;
  bottom: 50px;
  height: 300px;
  width: 780px;
  padding: 15px 10px;
  background: #324e69;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
  text-align: center;
  font-size: 0;
  cursor: default;
  color: #fff
}

.list_wrap .column, .list_wrap .column:first-child {
  padding: 0;
  margin: 0
}

.graphs .graph, table th {
  border: 1px solid #f2f2f2
}

.list_wrap.active {
  display: block
}

.list_wrap .column {
  width: 48%;
  display: inline-block;
  font-size: 12px;
  line-height: 18px
}

.list_wrap .column h3 {
  margin: 0;
  padding-right: 20px
}

.list_wrap .column_wrap {
  position: relative
}

.list_wrap .column_wrap:after, .list_wrap .column_wrap:before {
  content: '';
  display: block;
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0
}

.list_wrap .column_wrap:before {
  top: 0;
  background: linear-gradient(to bottom, #324e69 39%, rgba(50, 78, 105, .41) 75%, rgba(255, 255, 255, 0) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#324e69', endColorstr='#00ffffff', GradientType=0)
}

.list_wrap .column_wrap:after {
  bottom: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .01) 1%, rgba(50, 78, 105, .09) 6%, #324e69 67%, #324e69 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#324e69', GradientType=0)
}

.list_wrap .column ul {
  padding: 20px 0;
  height: 240px;
  box-sizing: border-box;
  overflow-y: auto
}

.list_wrap .column ul li {
  margin: 0 0 10px;
  padding-right: 20px
}

.graphs {
  width: 100%;
  float: left
}

.graphs .row {
  float: left;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px
}

.graphs .cell_x_50 {
  width: 49%
}

.graphs .cell_x_100 {
  width: 100%
}

.graphs .cell {
  float: left
}

.graphs .cell.right {
  float: right;
  margin-left: 10px
}

.graphs .cell .title {
  display: block;
  text-align: center;
  margin-bottom: 20px
}

.graphs .graph {
  padding: 10px;
  height: 250px
}

.graphs .cell_x_100 .highcharts-data-labels g {
  opacity: 1;
  visibility: visible
}

.graphs .highcharts-button, .tabs_content__item {
  display: none
}

.tabs_content__item.active {
  display: block
}

.tabs .tabs_head {
  text-align: right;
  font-size: 0;
  padding: 0 20px;
  margin-bottom: 20px
}

.tabs .tabs_head .icon {
  background: 0 0
}

.tabs .tabs_head .icon svg {
  fill: #4a7197
}

.tabs .tab_link {
  display: inline-block;
  padding: 12px 16px;
  cursor: pointer;
  position: relative
}

.tabs .tab_link.active, .tabs .tab_link:hover {
  background: #4a7197
}

.tabs .tab_link.active .icon svg, .tabs .tab_link:hover .icon svg {
  fill: #fff
}

.tabs .tab_content {
  position: absolute;
  opacity: 0;
  padding: 0;
  top: 0;
  left: 0;
  list-style: none;
  width: 100%;
  z-index: -1
}

.tabs .tab_content.active {
  position: relative;
  opacity: 1;
  z-index: 1
}

.tabs .graph {
  width: 700px;
  margin: 0 auto
}

.tab_content_section {
  position: absolute;
  opacity: 0;
  padding: 0;
  top: 0;
  left: 0;
  list-style: none;
  width: 100%;
  z-index: -1
}

.tab_content_section.active {
  position: relative;
  opacity: 1;
  z-index: 1
}

.form .button.disabled, .form input.disabled, .form textarea.disabled {
  opacity: .6;
  cursor: default
}

.search_links {
  position: relative
}

.search_links .title {
  display: block;
  padding: 10px 80px 10px 20px;
  font-size: 16px;
  font-weight: 700;
  background: #fff;
  margin: 0 0 5px;
  position: relative
}

.search_links .title:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -7px;
  width: 9px;
  height: 14px;
  background: url(../images/sprite.png) 0 -354px
}

.search_links .title b {
  font-weight: 700;
  background: #d0e7ff
}

.search_links .search_preview {
  margin: 5px 0 0;
  font-size: 14px;
  display: block
}

table {
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background: #fff
}

table tbody tr:nth-child(even) {
  background: #faf7f7
}

.table_wrap td, .table_wrap th, table tbody td, table tbody th {
  padding: 0
}

table tbody td span, table tbody th span {
  padding: 15px 5px;
  display: block
}

table tr:first-child td {
  border: none
}

table th {
  color: #4a7197;
  padding: 5px 20px;
  vertical-align: middle;
  width: 110px
}

table td {
  color: #243a51;
  padding: 15px 10px;
  vertical-align: middle;
  border-bottom: 1px solid #e5edf5
}

.table_wrap td span, .table_wrap th span {
  padding: 15px 5px;
  display: block
}

.batch_content, .batch_head {
  padding: 15px
}

.table_wrap .table_head {
  width: 300px;
  float: left;
  position: absolute;
  border-right: 1px solid #4a7197
}

.table_wrap .table_body {
  margin-left: 300px
}

.table_wrap .table_body .table {
  overflow-x: auto
}

.table_wrap .table_body span {
  width: 90px;
  display: block
}

.batch {
  border-radius: 5px;
  background: #fff;
  overflow: hidden
}

.batch_head {
  background: #f2f2f2
}

.batch_head h2 {
  text-transform: uppercase;
  font-size: 16px;
  margin: 0
}

.batch table tr td, .batch table tr th {
  padding: 0
}

.batch table tr td span, .batch table tr th span {
  padding: 10px 5px;
  display: block
}

.batch table tr td:nth-child(1), .batch table tr th:nth-child(1) {
  width: 50%;
  text-align: left;
  padding: 0 20px
}

.batch .color {
  width: 70px;
  height: 30px;
  margin: 10px auto;
  padding: 0
}

.batch .color span {
  padding: 0
}

.owl-next, .owl-prev {
  position: absolute;
  top: 0;
  overflow: hidden
}

.owl-next:before, .owl-prev:before {
  font-family: FontAwesome;
  font-weight: 700;
  font-size: 20px;
  display: block
}

.owl-next {
  right: 10px
}

.owl-next:before {
  content: "\f105"
}

.owl-prev {
  left: 10px
}

.owl-prev:before {
  content: "\f104"
}

.header .button:before, .search:before {
  content: ''
}

.one_card .owl-next, .one_card .owl-prev {
  top: 8px
}

.autorization {
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0 0;
  padding: 50px 10px;
  position: relative;
  text-align: center
}

.autorization__wrap {
  max-width: 390px;
  margin: 0 auto
}

.autorization_logo {
  margin: 0 auto 20px;
  width: 150px;
  height: 148px;
  background: url(../images/big_logo.png)
}

.autorization_title {
  margin: 0 0 20px;
  font-size: 16px;
  font-weight: 700;
  font-family: proxima_nova_cn_rgregular, sans-serif
}

.autorization_form {
  margin: 50px auto 0
}

.autorization_form .row {
  margin: 10px 0 0
}

.autorization_form .row:first-child {
  margin: 0
}

.autorization_form .row.captcha {
  font-size: 16px
}

.autorization_form .row.captcha input[type=text] {
  margin: 10px 0 0
}

.autorization_form .row.captcha img {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px 0 0
}

.autorization_form .errortext {
  margin: 10px 0 0;
  display: block;
  font-size: 16px
}

.autorization_form input {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: center;
  font-size: 14px;
  border: 0;
  color: #282828;
  width: 100%;
  box-sizing: border-box
}

.autorization_form input::-moz-placeholder {
  color: #282828
}

.autorization_form input::-webkit-input-placeholder {
  color: #282828
}

.autorization_form input:-ms-input-placeholder {
  color: #282828
}

.autorization_form .button {
  width: 100%;
  background: #34495e;
  border-radius: 5px;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  border: 0;
  margin-top: 10px
}

.autorization_form .button .icon {
  margin-right: 10px
}

.form {
  padding: 10px;
  width: 100%;
  box-sizing: border-box
}

.form .row {
  margin: 0 0 20px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.form .row.buttons {
  margin-top: 40px
}

.form .mistake {
  color: red;
  position: absolute;
  right: -90px;
  margin: -8px 0 0;
  top: 50%;
  display: none
}

.form input, .form textarea {
  background: #f2f2f2;
  border-radius: 5px;
  padding: 15px 20px;
  text-align: left;
  font-size: 14px;
  border: 1px solid transparent;
  color: #282828;
  width: 100%;
  box-sizing: border-box;
  outline: 0
}

.form input.error, .form textarea.error {
  border: 1px solid red
}

.form input::-moz-placeholder, .form textarea::-moz-placeholder {
  color: #282828
}

.form input::-webkit-input-placeholder, .form textarea::-webkit-input-placeholder {
  color: #282828
}

.form input:-ms-input-placeholder, .form textarea:-ms-input-placeholder {
  color: #282828
}

.form .button {
  background: #34495e;
  border-radius: 5px;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  border: 0;
  margin: 10px 10px 0 0
}

.form .button.icon {
  margin-right: 15px
}

.form .button.success {
  background: #1abc9c
}

.form .icon.download_icon {
  margin: 0 10px;
  background-position: 0 -426px
}

.form_label {
  max-width: 250px;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.form_input {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
  margin: 0 0 0 10px;
  max-width: 500px;
  position: relative
}

.form.headquarters input, .form.headquarters textarea {
  background: 0 0
}

.form.headquarters .form_label {
  font-size: 16px
}

.form.headquarters .select_text {
  display: block;
  padding: 15px 20px;
  font-size: 14px;
  color: #282828;
  font-family: Helvetika, sans-serif
}

.form.headquarters .select_wrap, .form.headquarters.edit .select_text {
  display: none
}

.form.headquarters.edit input, .form.headquarters.edit textarea {
  background: #f2f2f2
}

.form.headquarters.edit .select_wrap {
  display: block
}

.results_area .form .row {
  margin: 0 0 25px
}

.results_area .form .mistake {
  left: 0;
  margin: 25px 0 0
}

.results_area .form .percent {
  padding: 0 0 0 20px;
  box-sizing: border-box
}

.parcer .form_label {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1
}

.parcer .form_input {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2
}

.navigation {
  text-align: center;
  color: #fff;
  margin: 20px 0 0
}

.navigation a {
  color: #fff
}

.navigation-title {
  font-size: 16px
}

.navigation-arrows {
  display: none
}

.navigation-pages .nav-current-page, .navigation-pages a {
  padding: 5px 10px
}

.navigation-pages .nav-current-page {
  border: 1px solid
}

.password_form {
  background: #fff;
  text-align: left;
  max-width: 940px;
  margin: 20px auto;
  border-radius: 5px
}

.password_form .starrequired {
  display: inline-block;
  vertical-align: baseline
}

.password_form input {
  max-width: 500px
}

.password_form input[type=submit] {
  background: #34495e;
  border-radius: 5px;
  padding: 15px 20px;
  color: #fff;
  font-size: 14px;
  border: 0;
  width: auto
}

.password_form_table {
  border-radius: 5px;
  overflow: hidden;
  margin: 0 0 20px;
  text-align: left
}

.password_form_table tbody tr:nth-child(even) {
  background: #fff
}

.password_form_table tbody tr:first-child {
  border-bottom: 1px solid #e5edf5
}

.password_form_table td {
  padding: 10px
}

.password_form_table .title {
  font-size: 20px;
  margin: 10px 0;
  text-align: center;
  display: block;
  font-weight: 700
}

.password_form .errortext {
  font-weight: 700;
  margin: 0 0 10px;
  display: block
}

.password_form .info {
  font-size: 16px;
  background: #fff;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px 10px;
  max-width: 940px;
  margin: 0 auto;
  text-align: center
}

.password_form .info .text {
  margin: 0 0 10px;
  display: block
}

.password_form .info .button {
  background: #34495e;
  border-radius: 5px;
  font-size: 16px;
  padding: 15px 20px;
  color: #fff;
  border: 0;
  width: auto;
  display: inline-block
}

.logs li {
  margin: 0 0 10px
}

.logs li span {
  font-weight: 700;
  display: block
}

.logs li .inner_subtext {
  margin: 0 0 0 10px
}

.logs li .inner_subtext span {
  font-weight: 400;
  display: inline
}

.panel {
  height: 10px;
  width: 100%
}

.header {
  background: #34495e;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  box-shadow: 0 5px 10px #202020;
  font-family: Arial
}

.header a, .header span {
  color: #fff
}

.header .icon-plus {
  display: none;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.header.wide_content .menu_header, .header.wide_content .search, .header.wide_content .user {
  display: none;
}

.wide_content .card_selection__head .election, .wide_content .one_card .title_graph {
  display: none;
}

.header.wide_content .right_block {
  min-width: 0
}

.header.wide_content .icon-plus {
  display: inline-block
}

.header.wide_content .filter {
  display: block
}

.header.wide_content .filter.active {
  pointer-events: none
}

.header .right_block {
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
  font-size: 0
}

.header .right_block .button:last-child {
  border-radius: 0 5px 5px 0
}

.header .button {
  height: 100%;
  float: left;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  box-sizing: border-box;
  position: relative;
  font-size: 14px
}

.header .button:before {
  position: absolute;
  left: -2px;
  top: 0;
  width: 2px;
  height: 100%;
  background: url(../images/border-left.png) repeat-y
}

.header .button:hover {
  background: #4a7197;
  border-color: #4a7197 #3b5c7b #3b5c7b
}

.header .button .drop_block {
  display: none;
  width: 355px;
  padding: 10px 10px 0;
  background: #324e69;
  position: absolute;
  top: 48px;
  border-radius: 0 0 5px 5px;
  color: #fff
}

.header .button .drop_block.active {
  display: block
}

.header .button .drop_block .select_wrap {
  margin-bottom: 5px
}

.header .button .drop_block .drop_select {
  width: 100%
}

.header .button .drop_block .list_commission {
  margin: 20px 0 0
}

.header .button .drop_block .buttons {
  margin: 10px -10px 0;
  border-radius: 5px;
  overflow: hidden;
  position: relative
}

.header .button .drop_block .buttons .button {
  border: 0
}

.header .button .drop_block .buttons .button:before {
  display: none
}

.header .button .drop_block .buttons .close {
  background: #243a51;
  width: 85px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 4
}

.header .button .drop_block .buttons .apply {
  background: #1abc9c;
  padding-left: 85px;
  text-align: center;
  width: 100%;
  z-index: 2
}

.header .button .drop_block .level {
  margin: 10px 0 40px 10px
}

.header .button .drop_block .level .checkboxes .checkbox {
  display: inline-block;
  width: 160px;
  position: relative;
  margin: 0 0 10px;
  padding-right: 10px
}

.header .button a {
  line-height: 46px;
  padding: 0 30px;
  display: block
}

.header .btn_menu, .header .btn_sidebar {
  cursor: pointer;
  line-height: 48px;
  padding: 0 25px;
  float: left;
  border-radius: 5px 0 0 5px;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box
}

.header .button .icon {
  margin-right: 15px
}

.header .btn_sidebar {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center
}

.header .btn_menu {
  display: none;
  border-bottom: 2px solid #3b5c7b;
  background: #4a7197
}

.header .filter {
  display: none
}

.menu_header {
  font-size: 0;
  height: 100%;
  float: left;
  overflow: hidden;
  border-radius: 5px 0 0 5px
}

.menu_header__item {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  box-sizing: border-box;
  border-bottom: 2px solid transparent
}

.menu_header__item a, .menu_header__item span {
  padding: 0 30px;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 50px;
  text-transform: uppercase;
  font-family: proxima_nova_cn_rgregular;
  box-sizing: border-box
}

.menu_header__item.active, .menu_header__item:hover {
  background: #4a7197;
  border-color: #3b5c7b
}

.search {
  display: block;
  height: 100%;
  padding-left: 0;
  margin: 0 142px 0 20px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent
}

.search:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: url(../images/border-left.png) repeat-y
}

.search form {
  height: 100%
}

.search input[type=text] {
  height: 100%;
  border: none;
  background: 0 0;
  transition: .2s;
  width: 100%;
  padding: 0 15px 0 45px;
  box-sizing: border-box
}

.search input[type=text]:focus {
  background: #fff
}

.search input[type=submit] {
  height: 21px;
  width: 20px;
  overflow: hidden;
  text-indent: -200px;
  border: none;
  position: absolute;
  left: 15px;
  top: 15px;
  background: url(../images/sprite.png) 0 -24px
}

.search.focus input[type=text] {
  background: #fff;
  padding: 0 45px 0 15px
}

.search.focus input[type=text]::-moz-placeholder {
  color: #000
}

.search.focus input[type=text]::-webkit-input-placeholder {
  color: #000
}

.search.focus input[type=text]:-ms-input-placeholder {
  color: #000
}

.search.focus input[type=submit] {
  background-position: 0 -78px;
  background-color: #fff;
  right: 15px;
  left: auto
}

.search.focus input[type=submit]:active input[type=submit], .search.focus input[type=submit]:focus input[type=submit] {
  background-position: 0 -78px;
  right: 15px;
  left: auto
}

.lt-ie8 .page-root * {
  display: none
}

.browserupgrade {
  display: block;
  width: 780px;
  background: #fff;
  color: #4a7197;
  padding: 40px;
  text-align: center;
  font-size: 18px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -390px;
  box-sizing: border-box
}

.browserupgrade a {
  text-decoration: underline
}

.browserupgrade a:hover {
  text-decoration: none
}

.footer {
  padding: 20px 10px;
  margin-right: 10px
}

.footer .copiright {
  display: inline-block;
  vertical-align: middle
}

.footer .webmaster {
  float: right
}

.sidebar .footer {
  position: absolute;
  bottom: 20px;
  left: 0;
  color: #5c7d9f;
  font-size: 12px;
  margin: 0;
  padding: 20px 10px 20px 20px
}

.sidebar .footer .copiright {
  margin: 0 0 20px;
  line-height: 15px
}

.sidebar .footer .webmaster {
  float: none
}

.highcharts-tooltip h3 {
   font-size: 18px !important;
   padding-bottom: 10px;
   margin-bottom: 0px;
}

.highcharts-tooltip p {
   font-size: 16px !important;
}

@media (max-width:930px) {
  .header .menu_header, .sidebar {
    height: auto;
    position: absolute
  }
  .page {
    z-index: 0;
    overflow: initial
  }
  .header {
    z-index: 1
  }
  .header .menu_header {
    display: none;
    top: 50px;
    left: 0;
    background: #4a7197;
    border-radius: 0 0 5px 5px
  }
  .header .filter, .header .menu_header.active {
    display: block
  }
  .header .menu_header__item {
    display: block;
    border: none
  }
  .header .menu_header__item a, .header .menu_header__item span {
    text-transform: none;
    width: 100%
  }
  .header .btn_menu {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
  }
  .header .btn_sidebar, .sidebar, .sidebar .footer {
    display: none
  }
  .sidebar {
    left: 74px;
    top: -10px;
    width: 355px;
    z-index: 9;
    border-radius: 0 0 5px 5px
  }
  .one_card .button_bottom, .sidebar .buttons, .sidebar.active {
    display: block
  }
  .sidebar_wrap {
    overflow-y: scroll;
    max-height: 400px
  }
  .sidebar .selection .row {
    margin-top: 10px
  }
  .sidebar .selection .row .button {
    width: 100%
  }
  .container {
    padding-left: 0
  }
  .container .card_selection {
    margin: 0 0 10px
  }
  .one_card .card_selection {
    padding-bottom: 50px
  }
  .one_card .graphs .row {
    padding: 0
  }
  .tabs .button_list_wrap {
    display: none
  }
  .tabs .tab_content {
    max-height: 278px;
    overflow-y: scroll
  }
  .graphs .row {
    padding: 0 20px
  }
  .footer {
    margin-right: 0
  }
  .autorization_logo {
    width: 70px;
    height: 69px;
    background: url(../images/small_logo.png)
  }
  .form .mistake {
    left: 0;
    top: auto;
    right: auto;
    margin: 0;
    bottom: -15px
  }
}

@media (min-height:1050px) and (max-height: 1300px){
  .select_wrap .drop_select {
    max-height: 540px;
  }
  .one_card {
    min-height: 1200px;
  }
  .one_card .slider {
    min-height: 810px;
  }
  .wide_content .one_card .slider {
    min-height: 900px;
  }
  .wide_content .one_card .graphs .graph {
    height: 900px;
  }
  .one_card .graphs .graph {
    height: 640px;
  }
  .footer .copiright,
  .footer .webmaster {
    display: none;
  }
  .footer {
    display: none;
  }
}

@media (min-height:1025px) and (max-height:1049px) {
  .select_wrap .drop_select {
    max-height: 500px;
  }
  .one_card {
    min-height: 1100px;
  }
  .one_card .slider {
    min-height: 880px;
  }
  .wide_content .one_card .slider {
    min-height: 920px;
  }

  .wide_content .one_card .graphs .graph {
    height: 820px;
  }
  .one_card .graphs .graph {
    height: 620px;
  }
  .footer .copiright,
  .footer .webmaster {
    display: none;
  }
  .footer {
    display: none;
  }
}

@media (min-height:931px) and (max-height:1024px) {
  .select_wrap .drop_select {
    max-height: 440px;
  }


  .tabs .tab_content {
    min-height: 680px;
  }
  .one_card {
    min-height: 800px;
  }
  .wide_content .one_card {
      min-height: 920px;
    }
  .one_card .slider {
    min-height: 680px;
  }
  .wide_content .one_card .slider {
    min-height: 830px;
  }
  .wide_content .one_card .graphs .graph {
    height: 760px;
  }
  .one_card .graphs .graph {
    height: 570px;
  }
  .footer .copiright,
  .footer .webmaster {
    display: none;
  }
  .footer {
    display: none;
  }
}

@media (min-height:801px) and (max-height:930px) {
  .select_wrap .drop_select {
    max-height: 400px;
  }
  .one_card {
    min-height: 700px;
  }
  .one_card .slider {
    min-height: 540px;
  }
  .one_card .graphs .graph {
    height: 430px;
  }
  .wide_content .one_card {
    min-height: 780px;
  }
  .wide_content .one_card .graphs .graph {
    height: 630px;
  }
  .footer .copiright,
  .footer .webmaster {
    display: none;
  }
  .footer {
    display: none;
  }
}
/*@media (min-height:769px) and (max-height: 800px) {
  .wide_content .one_card .graphs .graph {
    height: 580px;
  }
  .footer .copiright,
  .footer .webmaster {
    display: none;
  }
  .one_card .graphs .graph {
    height: 430px;
  }
}*/
@media  (max-height: 800px) {
  .select_wrap .drop_select {
    max-height: 280px;
  }
  .tabs .tab_content {
    min-height: 400px;
  }
  .one_card {
    min-height: 580px;
  }
  .one_card .slider {
    min-height: 500px;
  }
  .wide_content .one_card .slider {
    min-height: 660px;
  }
  .one_card .graphs .graph {
    height: 400px;
  }
  .wide_content .one_card {
    min-height: 790px;
  }
  .wide_content .one_card .graphs .graph {
    height: 600px;
  }
  .footer {
    display: none;
  }
  .footer .copiright,
  .footer .webmaster {
    display: none;
  }
}
/* ----------- iPad mini ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .wide_content.header {
      position:absolute;
      top: 0;
    }
    .wide_content .container {
      margin-top: 50px;
    }
    /*.page-root .wide_content {
      margin-top: 100px;
    }*/
}
/* ----------- iPad 1 and 2 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .wide_content.header {
      position:absolute;
      top: 0;
    }
    .wide_content .container {
      margin-top: 50px;
    }
}

/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .wide_content.header {
      position:relative;
      top: 0;
    }
    .wide_content .container {
      margin-top: 50px;
    }
}
